#set( $size = $groups.size() )
#foreach($g in $groups)
[
	{"id":"$!encoder.jsEncode( ${g} )", "label": "$!encoder.jsEncode( ${g} )", "value":"$!encoder.jsEncode( ${g} )"}#if( $velocityCount < $size ),#end
]
#end