<div class="bordered-div col-md-12" ng-controller="RegistrationController">
    
    <!--registration form starts -->
    <form name="outerForm" novalidate>
        <!--custom registration form begins -->
        <div class="row col-sm-12 vertical-spacing" ng-if="customFormExists">
            <div ng-if="selectedProgram && !customForm.hasProgramDate">
                <table class="dhis2-list-table-striped dhis2-table-hover">
                    <tr>
                        <td>
                            {{selectedProgram.dateOfEnrollmentDescription}}
                        </td>
                        <td>
                            <input type="text" 
                                   placeholder="{{dhis2CalendarFormat.keyDateFormat}}" 
                                   name="dateOfEnrollment" 
                                   class="form-control" 
                                   d2-date 
                                   ng-model="selectedEnrollment.dateOfEnrollment" 
                                   max-date="selectedProgram.selectEnrollmentDatesInFuture ? '' : 0"
                                   min-date=""
                                   ng-required="true"/>
                            <span ng-show="outerForm.submitted && outerForm.dateOfEnrollment.$invalid" class="error">{{'required'| translate}}</span>
                        </td>
                    </tr>     
                    <tr ng-if="selectedProgram.displayIncidentDate">
                        <td>
                            {{selectedProgram.dateOfIncidentDescription}}
                        </td>
                        <td>
                            <input type="text" 
                                   placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                                   name="dateOfIncident"
                                   class="form-control" 
                                   d2-date 
                                   max-date="selectedProgram.selectIncidentDatesInFuture ? '' : 0"
                                   min-date=""
                                   ng-model="selectedEnrollment.dateOfIncident"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="!selectedProgram">            
                <table class="table-borderless table-striped">
                    <tr>
                        <td>
                            {{'entity_type'| translate}}
                        </td>
                        <td>
                            <select class="form-control" ng-model="trackedEntities.selected" ng-options="trackedEntity.name for trackedEntity in trackedEntities.available | orderBy: 'name'">                                
                            </select>                            
                        </td>
                    </tr>                   
                </table>
                <hr>                
            </div>
            <div ng-include="'../dhis-web-commons/customform/custom-form.html'"></div>
        </div>
        <!-- custom registration form ends-->

        <!-- default registration form begins -->
        <div class="row col-sm-12 vertical-spacing" ng-if="!customFormExists">
            <div ng-if='!selectedProgram'>
                <h3>{{'category'| translate}}</h3>
                <table class="table-borderless table-striped">
                    <tr>
                        <td>
                            {{'entity_type'| translate}}
                        </td>
                        <td>
                            <select class="form-control" ng-model="trackedEntities.selected" ng-options="trackedEntity.name for trackedEntity in trackedEntities.available | orderBy: 'name'">                                
                            </select>                            
                        </td>
                    </tr>                   
                </table>
                <hr>
            </div>
            <div ng-if="selectedProgram" ng-include="'views/enrollment-dates-form.html'"></div>            
            <div ng-include="'views/default-registration-form.html'"></div>
        </div>
        <!-- default registration form ends -->
        
        <div ng-if="formEmpty && outerForm.submitted">
            <div class="alert alert-warning">{{'form_is_empty_fill_at_least_one'| translate}}</div> 
        </div>
        
        <div class="vertical-spacing">                
            <button type="button" class="btn btn-primary" ng-click="registerEntity('DASHBOARD')">{{'save_and_continue'| translate}}</button>
            <button type="button" class="btn btn-success small-horizonal-spacing" ng-click="registerEntity('SELF')">{{'save_and_add_new'| translate}}</button>
            <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="showRegistration()">{{'cancel'| translate}}</button>
        </div>
    </form>
    <!--registration form ends -->
</div>