<!-- The script that registeres selctions in the orgunit tree -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		selection.setListenerFunction( orgUnitHasBeenSelected );
	});

	function orgUnitHasBeenSelected( orgUnitIds )
	{
		
		getSelectedOrgUnit( orgUnitIds );
	}
	
	function getSelectedOrgUnit( orgUnitIds )
	{
		if( orgUnitIds != "" )
		{
			var requestString = 'getOrgUnitName.action?selectedOrgUnitId='+orgUnitIds;
			var request = new Request();
			request.setResponseTypeXML('dataelement');
			request.setCallbackSuccess( responseGetSelectedOrgUnitName );
			request.send(requestString);
		}
	}
	
	function responseGetSelectedOrgUnitName( dataelement )
	{
		var element = dataelement.getElementsByTagName("dataelement");
		var organisationUnitIdsOptions = document.getElementById( "organisationUnitIds" ).options;
		var flag = false;
		var i;
	
		for( i = 0; i < organisationUnitIdsOptions.length; i++ )
		{
			if( organisationUnitIdsOptions[i].value == element[0].getElementsByTagName('organisationUnitId')[0].firstChild.nodeValue )
			{
				flag = true;
				break;
			}
		}
		
		if( !flag )
		{
			var option = document.createElement("option");
			option.value = element[0].getElementsByTagName('organisationUnitId')[0].firstChild.nodeValue;
			option.text = element[0].getElementsByTagName('organisationUnitName')[0].firstChild.nodeValue;
			option.title = element[0].getElementsByTagName('organisationUnitName')[0].firstChild.nodeValue;
			option.ondblclick = function(){removeSelectedOrgUnitName( element[0].getElementsByTagName('organisationUnitId')[0].firstChild.nodeValue );};
			document.getElementById( "organisationUnitIds" ).add( option, null );
		}
		
		if( document.getElementById( "organisationUnitIds" ).options.length > 0 )
           {
			 document.getElementById( "organisationUnitIds" ).disabled=false;
			}
        else
		{
            document.getElementById( "organisationUnitIds" ).disabled=true;
		}
    
	}
	
	function removeSelectedOrgUnitName( orgUnitId )
	{
		var organisationUnitIdsOptions = document.getElementById( "organisationUnitIds" ).options;
		for( i = 0; i < organisationUnitIdsOptions.length; i++ )
        {
            if( organisationUnitIdsOptions[i].value == orgUnitId )
            {
                document.getElementById( "organisationUnitIds" ).remove(i);
				break;
            }
        }
	
		if( document.getElementById( "organisationUnitIds" ).options.length > 0 )
           {
             document.getElementById( "organisationUnitIds" ).disabled=false;
            }
        else
        {
            document.getElementById( "organisationUnitIds" ).disabled=true;
        }
	}
</script>

<h2>Data Administration</h2>
<ul>
    <li>Data Administration</li>
    <ul>
      <li>
            Data Locking
        </li>
    </ul>
</ul>

<div style=" float:right; font-size:8pt; cursor:pointer; margin-top:-15px; ">
	<a href="index.action"><img src="images/goback.png" width="36" height="30" alt="$i18n.getString( 'go_back' )"/></a>
</div>

<br/><br/>

#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )
