<style type="text/css">
	th.formatLabel
	{
	  text-align: center;
	}
</style>

<h3>$i18n.getString( "view_data_for" ) "$!viewTableName"</h3>

<table class="listTable">
	<thead>
		<tr>
		#foreach ( $columnName in $sqlViewTable.getHeaders() )
			<th title="$columnName" class="formatLabel">$columnName</th>
		#end
		</tr>
	</thead>

	<tbody>
		#foreach( $row in $sqlViewTable.getRecords() )
		<tr>
			#foreach( $columnValue in $row )
				<td style="text-align:center">
					#if ($!columnValue)$columnValue 
					#else<span style="color:blue;font-weight:bold;">null</span>#end
				</td>
			#end
		</tr>
		#end
	</tbody>
</table>

<br/>

<div>
	<table>
		<tr>
			<input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='showSqlViewListForm.action'" style="width:10em" />
		</tr>
	</table>
</div>
