<div id="leftBar">   
    <div ng-include="'views/left-menu.html'"></div>
    <div id="orgUnitTree" style="margin-top:20px">
        <ul>
        </ul>
    </div>
    <img id="ouwt_loader" src="../images/ajax-loader-bar.gif" alt="{{'loading_tree'| translate}}"/>
    <!--- selected org unit begins -->
    <input type="text" selected-org-unit ng-model="selectedOrgUnit.name" ng-hide=true>
    <!--- selected org unit ends  -->
</div>

<div id="mainPage" class="bordered-div">
    <h2>{{'bank_advise_report'| translate}}</h2>
    <form name="outerForm" novalidate>               
        <div ng-include="'components/report/periodicReportForm.html'"></div>
    </form>    
    <img src="../images/ajax-loader-bar.gif" ng-if="!dataReady && reportStarted"/>
    <div ng-if="reportFinished">
        <div class="alert alert-warning vertical-spacing" ng-if="teiList.length === 0">
            {{'no_data_found'| translate}}
        </div>
        <div ng-if="teiList.length > 0">
            <div class="vertical-spacing">
                <table class="table table-bordered vertical-spacing">
                    <thead>                        
                        <tr>
                            <th class="active" ng-repeat="gridColumn in gridColumns" ng-if="gridColumn.displayInListNoProgram">
                                {{gridColumn.name}}
                            </th>
                            <th class="active hideInPrint">
                                {{'type'| translate}}
                            </th>
                            <th class="active hideInPrint">
                                {{'program'| translate}}
                            </th>
                            <th class="active hideInPrint">
                                {{'service'| translate}}
                            </th>
                            <th class="active hideInPrint" ng-repeat="col in serviceGridColumns | filter: {statusCol: true}">
                                {{col.name | translate}}
                            </th>
                            <th class="active" ng-repeat="col in serviceGridColumns | filter: {totalCol: true}">
                                {{col.name | translate}}
                            </th>
                        </tr>                        
                    </thead>
                    <tbody ng-repeat="tei in teiList">
                        <tr ng-repeat="payment in teisById[tei].calculatedPayments | orderBy: ['ownerProgramStageName', 'programName', 'programStageName']" 
                            ng-init="paymentRowIndex = $index">
                            <td style="vertical-align:middle"
                                ng-repeat="gridColumn in gridColumns" 
                                rowspan="{{teisById[tei].calculatedPayments.length}}" 
                                ng-if="gridColumn.displayInListNoProgram && paymentRowIndex === 0">
                                {{teisById[tei][gridColumn.id]}}
                            </td>
                            <td style="vertical-align:middle"
                                class="hideInPrint"
                                ng-repeat="service in teisById[tei].calculatedPayments | filter: {ownerProgramStage: payment.ownerProgramStage} | orderBy: ['ownerProgramStageName', 'programName', 'programStageName']" 
                                rowspan="{{(teisById[tei].calculatedPayments | filter: {ownerProgramStage: payment.ownerProgramStage}).length}}"
                                ng-if="$index === 0 && service === payment">
                                {{service.ownerProgramStageName}}
                            </td>
                            <td style="vertical-align:middle"
                                class="hideInPrint"
                                ng-repeat="service in teisById[tei].calculatedPayments | filter: {programId: payment.programId} | orderBy: ['ownerProgramStageName', 'programName', 'programStageName']"  
                                rowspan="{{(teisById[tei].calculatedPayments | filter: {programId: payment.programId}).length}}"
                                ng-if="$index === 0 && service === payment">
                                {{service.programName}}
                            </td>
                            <td style="vertical-align:middle"
                                class="hideInPrint"
                                ng-repeat="service in teisById[tei].calculatedPayments | filter: {programStageId: payment.programStageId} | orderBy: ['ownerProgramStageName', 'programName', 'programStageName']" 
                                rowspan="{{(teisById[tei].calculatedPayments| filter: {programStageId: payment.programStageId}).length}}"
                                ng-if="$index === 0">
                                {{payment.programStageName}}
                            </td>                                
                            <td class="align-center hideInPrint" ng-repeat="col in serviceGridColumns | filter: {statusCol: true}">
                                {{payment[col.id]}} 
                            </td>
                            <td style="vertical-align:middle"
                                class="vertical-center align-center" 
                                ng-repeat="col in serviceGridColumns | filter: {totalCol: true}"
                                rowspan="{{teisById[tei].calculatedPayments.length}}"
                                ng-if="paymentRowIndex === 0">
                                {{'currency' | translate}} {{teisById[tei].totalPaymentAmount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- report begins -->
            <!--<div class="vertical-spacing">
                <table class="table table-bordered vertical-spacing">
                    <thead>                        
                        <tr>
                            <th class="active" ng-repeat="gridColumn in gridColumns" ng-if="gridColumn.displayInListNoProgram">
                                {{gridColumn.name}}
                            </th>
                            <th class="active">
                                {{'program_stage'| translate}}
                            </th>
                            <th class="active">
                                {{'program'| translate}}
                            </th>
                            <th class="active">
                                {{'service'| translate}}
                            </th>
                            <th class="active" ng-repeat="col in serviceGridColumns| filter: {statusCol: true}">
                                {{col.name| translate}}
                            </th>
                        </tr>                        
                    </thead>
                    <tbody ng-repeat="tei in teiList" ng-init="teiIndex = $index">
                        <tr ng-repeat="payment in teisById[tei].paymentRows| orderBy: ['ownerProgramStage', 'program']" 
                            ng-init="paymentRowIndex = $index">
                            <td ng-repeat="gridColumn in gridColumns" 
                                rowspan="{{teisById[tei].paymentRowCount}}" 
                                ng-if="gridColumn.displayInListNoProgram && paymentRowIndex === 0">
                                {{teisById[tei][gridColumn.id]}}
                            </td>
                            <td ng-repeat="service in teisById[tei].paymentRows| filter: {ownerProgramStage: payment.ownerProgramStage} | orderBy: 'serviceName'" 
                                rowspan="{{(teisById[tei].paymentRows| filter: {ownerProgramStage: payment.ownerProgramStage}).length}}"
                                ng-if="$index === 0 && service === payment">
                                {{service.ownerProgramStageName}}
                            </td>
                            <td ng-repeat="service in teisById[tei].paymentRows| filter: {program: payment.program}" 
                                rowspan="{{(teisById[tei].paymentRows| filter: {program: payment.program}).length}}"
                                ng-if="$index === 0 && service === payment">
                                {{service.programName}}
                            </td>
                            <td ng-repeat="service in teisById[tei].paymentRows| filter: {programStage: payment.programStage}" 
                                rowspan="{{(teisById[tei].paymentRows| filter: {programStage: payment.programStage}).length}}"
                                ng-if="$index === 0 && service === payment">
                                {{payment.serviceName}}
                            </td>
                            <td class="align-center" ng-repeat="col in serviceGridColumns| filter: {statusCol: true}">
                                {{payment[col.id]}} 
                            </td>                                                            
                        </tr>
                    </tbody>
                </table>
            </div>-->
            <!-- report ends -->
        </div>        
    </div>
</div>
