<div class="col-sm-12 remove-default-padding">
    <hr>
    <h2>{{'for_official_use' | translate}}</h2>
    <table class="table table-bordered vertical-spacing">
        <tr>
            <td>
                <span class="bold">
                    {{'total_amount' | translate}}:
                </span>
                <span>
                    {{'currency' | translate}} {{totalPaymentAmount}}
                </span>
            </td>
            <td>
                <span class="bold">
                    {{'authorized_by' | translate}}:
                </span>
            </td>
            <td>
                <span class="bold">
                    {{'signature' | translate}}:
                </span>
            </td>
            
        </tr>
    </table>
</div>