<div class="modal-header page">
    <h2 class="align-center bold">{{approvingGroup}} {{'verification_slip'| translate}}</h2>
</div>
<div class="modal-body page">
    
    <div ng-include="'components/payment/payment-slip-header.html'"></div>
    
    <div class="row col-sm-12">
        <table class="table table-bordered table-compact">
            <thead>
                <tr>
                    <th class="active" ng-repeat="header in paymentTableHeaders"  ng-class="{true: 'align - center'} [header.id !== 'activity']">
                        {{header.value}}
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="program in programs| orderBy: 'name'" ng-if="(paymentReport | filter: {programId: program.id}).length > 0">
                <tr ng-repeat="payment in paymentReport| filter: {programId: program.id} | orderBy: 'service'">
                    <td class="col-sm-1 bold" rowspan="{{(paymentReport| filter: {programId: program.id}).length}}" ng-if="$index === 0">
                        {{payment.programName}}
                    </td>
                    <td ng-class="{true: 'col - sm - 2', false: 'col - sm - 1'} [header.id === 'service']" ng-repeat="header in paymentTableHeaders" ng-if="header.id !== 'program'">
                        {{payment[header.id]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div ng-include="'components/payment/payment-slip-footer.html'"></div>
    
</div>

<div class="modal-footer hideInPrint">        
    <button class="btn btn-primary" onclick="javascript:window.print()">{{'print'| translate}}</button>
    <button class="btn btn-default" data-ng-click="close()">{{'close'| translate}}</button>
</div>
