
/*----------------------------------------------------------------------------*/
/* General                                                                    */
/*----------------------------------------------------------------------------*/

* 
{
  font-family: arial, sans-serif;
  line-height: 125%;
}

html,body 
{
  margin: 0px;
  padding: 0px;
  background-color: white;
}

img 
{
  border: 0;
}

ul,ol 
{
  padding: 0px;
}

.ui-widget {
	font-family: LiberationSansRegular, arial, sans-serif !important;
	font-size: 11px;
}

.ui-widget .ui-widget {
	font-size: 11px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: LiberationSansRegular, arial, sans-serif !important;
	font-size: 11px;
}

/*----------------------------------------------------------------------------*/
/* Header                                                                     */
/*----------------------------------------------------------------------------*/

div#header
{
  background-image: url('logo_background.png');
  background-repeat: repeat-x;
  height: 83px;
  position: absolute;
  top: 0px;
  left: 10px;
  right: 10px;
}

img#header1
{
  float: left;
}

img#header2
{
  position: absolute;
  top: 13px;
  left: 25px;
}

img#header3
{
  float: right;
}

img#menuSeparator1
{
  position: absolute;
  top: 0px;
  left: 570px;
}

img#menuSeparator2
{
  position: absolute;
  top: 0px;
  left: 670px;
}

img#menuSeparator3
{
  position: absolute;
  top: 0px;
  left: 770px;
}

img#menuSeparator4
{
  position: absolute;
  top: 0px;
  left: 870px;
}

img#menuSeparator5
{
  position: absolute;
  top: 0px;
  left: 970px;
}

.menuLink
{
  height: 68px;
  width: 98px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
}

div#menuLink1
{
  position: absolute;
  top: 7px;
  left: 572px;
}

div#menuLink2
{
  position: absolute;
  top: 7px;
  left: 672px;
}

div#menuLink3
{
  position: absolute;
  top: 7px;
  left: 772px;
}

div#menuLink4
{
  position: absolute;
  top: 7px;
  left: 872px;
}

span#headerText
{
  position: absolute;
  top: 30px;
  left: 228px;
  font-weight: lighter;
  color: white;
  font-size: 13pt;
}

div#popupHeader 
{
  background-color: #425073;
  height: 34px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #202020;
}

span#popupHeaderText
{
  position: absolute;
  top: 3px;
  left: 30px;
  font-size: 14px;
  color: white;
  margin: 5px;
}

div#menuDropDown1
{
  position: absolute;
  top: 76px;
  left: 570px;
}

div#menuDropDown2
{
  position: absolute;
  top: 76px;
  left: 670px;
}

div#menuDropDown3
{
  position: absolute;
  top: 76px;
  left: 770px;
}

.menuDropDownArea
{
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #343a47;
  padding-left: 5px;
  padding-right: 5px;
  width: 189px;
  background-color: #2a3857;
  display: none;
  z-index: 10;
  filter: alpha(opacity=90);
  opacity: 0.90;
}

.menuDropDownBox
{
  list-style-type:none;
  margin-left: 0;
}

.menuDropDownItem
{
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  border: 1px solid #2a3857;
  cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/* Left bar                                                                   */
/*----------------------------------------------------------------------------*/

#leftBar
{
  background-color: #2a3857;
  height: 472px;
  width: 250px;
  float: left;
  position: absolute;
  top: 85px;
  left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #343a47;
  filter: alpha(opacity=90);
  opacity: 0.90;
}

#leftBarContents
{
  color: black;
  font-size: 12px;
}

#leftBarContents h2
{
  font-size: 14px;
  margin-top: 16px;
  margin-right: 17px;
  margin-left: 17px;
  background-color: #5F6F98;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
}

#leftBarContents ul
{
  margin-left: 40px;
  list-style-type: square;
  color: white;
}

#leftBarContents a
{
  color: white;
  text-decoration: none;
}

#leftBarContents a:hover
{
  color: #D1D3FF;
}

/*----------------------------------------------------------------------------*/
/* Main page                                                                  */
/*----------------------------------------------------------------------------*/

.mainPageTable 
{
  width: 100%;
}

.page 
{
  font-size: 9pt;
}

.page h1 
{
  font-size: 16pt;
  font-weight: lighter;
  color: #606060;
}

.page h2 
{
  font-size: 15pt;
  font-weight: lighter;
  color: #606060;
}

.page h3 
{
  font-size: 14pt;
  font-weight: lighter;
  color: #606060;
}

.page h4 
{
  font-size: 13pt;
  font-weight: lighter;
  color: #606060;
}

.page h5 
{
  font-size: 12pt;
  font-weight: lighter;
  color: #606060;
}

.page h6 
{
  font-size: 11pt;
  font-weight: lighter;
  color: #606060;
}

.page p,.page td,.page th,.page input,.page select,.page textarea 
{
  font-size: 9pt;
}

.page th, thead tr
{
  background-image: url('head.png');
  background-repeat: repeat-x;
  text-align: left;
  color: #3f5d8e;
  border-style: solid;
  border-width: 1px;
  border-color: #99bbe8;
  padding-left: 7px;
  height: 19px;
}


#mainPage 
{
  margin: 102px 10px 10px 300px;
}

#popupPage 
{
  margin: 50px 10px 10px 10px;
}

.required 
{
  font-style: normal;
  color: #ff0000;
}

.listTable
{
  width: 100%;
  border-collapse: collapse;
}

.listTable td
{
  padding: 2px;
}

.listRow
{
  border-bottom: 1px solid #cad5e5;
}

.listAlternateRow
{
  border-bottom: 1px solid #cad5e5;
  background-color: #ebf0f6;
}

.listHoverRow
{
  background-color: #dfe9f4;
}

.bold, .bold td
{
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/* Intro                                                                      */
/*----------------------------------------------------------------------------*/

#introList
{
  display: none;
  list-style-type:none;
  width: 450px;
  background-color: #d5efd5;
  border: 1px solid #a4d2a3;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
	
.introItem
{
  padding: 15px;
  cursor: pointer;
  border: 1px solid #d5efd5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.introItemHeader
{
  color: #3c533c;
  font-weight: bold;
}

