

#parse( "/dhis-web-dataentry-national-bihar/select.vm" )

#if($selDSName.equals($llbirth))
	#parse( "/dhis-web-dataentry-national-bihar/llbirthForm.vm" )
#elseif($selDSName.equals($lldeath))
	#parse( "/dhis-web-dataentry-national-bihar/lldeathForm.vm" )
#elseif($selDSName.equals($llmdeath))
	#parse( "/dhis-web-dataentry-national-bihar/llmdeathForm.vm" )
#elseif($selDSName.equals($lluuidspe))
	#parse( "/dhis-web-dataentry-national-bihar/lluidspe.vm" )
#elseif($selDSName.equals($lluuidspep))
	#parse( "/dhis-web-dataentry-national-bihar/lluuidspep.vm" )
#elseif($selDSName.equals($lldidsp))
	#parse( "/dhis-web-dataentry-national-bihar/lldidsp.vm" )
#elseif($selDSName.equals($llidspl))
	#parse( "/dhis-web-dataentry-national-bihar/llidspl.vm" )
#elseif($selDSName.equals($llcoldchain))
    #parse( "/dhis-web-dataentry-national-bihar/llcoldchain.vm" )	
#elseif($selDSName.equals($llFamilyPlaning))
    #parse( "/dhis-web-dataentry-national-bihar/llFamilyPlaning.vm" )
#elseif($selDSName.equals($llYuktiStatus))
    #parse( "/dhis-web-dataentry-national-bihar/llYuktiStatus.vm" )	    
	
#else
  <h3>No Dataentry form available for selected DataSet/DataSet not assign to selected Organisation Unit</h3>
#end