<div id="leftBar">   
    <div ng-include="'views/left-menu.html'"></div>    
</div>
<div id="mainPage">
    <h1>{{'reports'| translate}}</h1>
    <div class="row col-sm-12">                              
        <div class="col-sm-6 report-type-container" ng-click="trainingStatus()">
            <h2><small><i class="fa fa-graduation-cap fa-2x black"></i></small><span class="horizonal-spacing">{{'training_status'| translate}}</span></h2>
            {{'training_status_description'| translate}}
        </div>
        <div class="col-sm-6 report-type-container" ng-click="healthFactilityStatus()">
            <h2><small><i class="fa fa-hospital-o fa-2x black"></i></small><span class="horizonal-spacing">{{'health_facility_status'| translate}}</span></h2>
            {{'health_facility_status_description'| translate}}
        </div>
        <div class="col-sm-6 report-type-container" ng-click="performanceReport()">
            <h2><small><i class="fa fa-list-alt fa-2x black"></i></small><span class="horizonal-spacing">{{'performance_report'| translate}}</span></h2>
            {{'performance_report_description'| translate}}
        </div>         
        <div class="col-sm-6 report-type-container" ng-click="bankAdvise()">
            <h2><small><i class="fa fa-money fa-2x black"></i></small><span class="horizonal-spacing">{{'bank_adivse'| translate}}</span></h2>
            {{'bank_advise_description'| translate}}
        </div>
        <div class="col-sm-6 report-type-container" ng-click="paymentStatus()">
            <h2><small><i class="fa fa-bar-chart fa-2x black"></i></small><span class="horizonal-spacing">{{'payment_status'| translate}}</span></h2>
            {{'payment_status_description'| translate}}
        </div>
    </div>
</div>