
<table class="contentProviderTable">
    <tr>
        <th colspan="2">$i18n.getString( "document" )</th>
    </tr>
    #foreach ( $document in $documents )
    <tr>
        <td>
            #if ( $document.external )
                <a href="$document.url">
            #else
                <a href="javascript:window.location.href='../dhis-web-commons-stream/loadDocument.action?id=$document.id'">
            #end
            $document.name</a>
        </td>
        <td style="width:16px">
            <a href="javascript:window.location.href='removeDocument.action?id=$document.id'" title="$i18n.getString( 'remove' )">
            <img src="../images/close.png" alt="$i18n.getString( 'remove' )"></a>
        </td>
    </tr>
    #end
</table>
