
<table class="contentProviderTable">
    <tr>
    	<th colspan="2">$i18n.getString( "report" )</th>
    </tr>
    #foreach ( $report in $reports )
    <tr>
    	<td>
    		<a href="../dhis-web-reporting/getReportParams.action?id=${report.id}&mode=report">$encoder.htmlEncode( $report.name )</a>
    	</td>
    	<td style="width:16px">
    		<a href="javascript:window.location.href='removeReport.action?id=$report.id'" title="$i18n.getString( 'remove' )">
    		<img src="../images/close.png" alt="$i18n.getString( 'remove' )"></a>
    	</td>
    </tr>
    #end
</table>
