
<table class="contentProviderTable">
    <tr>
        <th colspan="2">$i18n.getString( "report_table" )</th>
    </tr>
    #foreach ( $table in $reportTables )
    <tr>
        <td>
            <a href="../dhis-web-reporting/getReportParams.action?id=${table.id}&mode=table" target="_blank">$table.name</a>
        </td>       
        <td style="width:16px">
            <a href="javascript:window.location.href='removeReportTable.action?id=$table.id'" title="$i18n.getString( 'remove' )">
            <img src="../images/close.png" alt="$i18n.getString( 'remove' )"></a>
        </td>
    </tr>
    #end
</table>