
<table class="contentProviderTable">
    <tr><th>$i18n.getString( "rss_hiv_aids" )</th></tr>
    #foreach ( $item in $hivAidsItems )
    <tr><td><a href="$item.link" target="_blank">$item.title</a>&nbsp;$item.date</td></tr>
    #end
</table>
