<script type="text/javascript">
/*function closeDialog()
{
	jQuery('#DataElementPopup').dialog('destroy').remove();
}*/

$(document).ready(function() {

    $(document).ready(function() {
        $('.multiselect').multiselect({
            maxHeight: 150,
              numberDisplayed: 1,
              buttonWidth: '150px'

        });
    });
});

</script>

<form id="popup_update" action="updateApproveDEStatus.action">

    <div align="right"><input type="submit" value="Update DataElement Sync Status" ></div>
    
    <input type="hidden" name="searchDeId" id="searchDeId" value="${dataElementObj.getId()}" >
    
 
 <table class="listTable" style="border: 1px solid" >
      	  <thead>
            <th style="text-align: center; border: 1px solid"  width="400">
                New/Updated Data Elements
            </th>
            <th style="text-align: center; border: 1px  solid"  width="100">
                Approval needed after updation
            </th>
            <th style="text-align: center; border: 1px  solid"  width="150">
                Instances
            </th>
            <th style="text-align: center; border: 1px  solid"  width="100"> 
                Approve Status
            </th>
        </thead>
  <tr>
     #if($AllDataElementsById.size() == 0)
       <tbody>
             <tr id="tr${dataElementObj.getId()}" data-id="$!dataElementObj.getId()" data-uid="$!dataElementObj.getUid()"
             data-type="ApprovalDataElements" data-name="$encoder.htmlEncode( $!dataElementObj.getName() )">

             <td style="text-align: left; border: 1px solid">$encoder.htmlEncode( $dataElementObj.getName())</td>

             <td style="text-align: center; border: 1px solid">
                     <input type="checkbox" name="appNeeded_${dataElementObj.getId()}" />
                 </td>

             <td style="text-align: center; border: 1px solid">
                 <select class="multiselect" multiple="multiple" id="sel${velocityCount}" name="instances_${dataElementObj.id}">
                     #foreach( $instance in $synchInstances )
                      <option value="$instance.id" >$encoder.htmlEncode( $instance.name )</option>
                    #end
             </select>
             </td>

             <td style="text-align: center; border: 1px solid" >
                 <input type="checkbox" id="approveStatus_${dataElementObj.getId()}" name="approveStatus_${dataElementObj.getId()}"  />
             </td>

         </tr>
     </tbody>
     #else
       <tbody>
          #foreach( $desync in $AllDataElementsById )
                <tr id="tr${desync.getDataElement().getId()}" data-id="$!desync.getDataElement().getId()" data-uid="$!desync.getDataElement().getUid()"
                     data-type="ApprovalDataElements" data-name="$encoder.htmlEncode( $!desync.getDataElement().getName() )">

                     <td style="text-align: left; border: 1px solid">$encoder.htmlEncode( $desync.getDataElement().getName())</td>

                     #if($desync.getRememberApproveStatus())
                         <td style="text-align: center; border: 1px solid">
                             <input type="checkbox" name="upappNeeded_${desync.getDataElement().getId()}" checked />
                         </td>
                     #else
                         <td style="text-align: center; border: 1px solid">
                             <input type="checkbox" name="upappNeeded_${desync.getDataElement().getId()}" />
                         </td>
                     #end

                     <td style="text-align: center; border: 1px solid"> <label id="instance" name="upinstances_${desync.getDataElement().getId()}">
                         $encoder.htmlEncode( $desync.getInstance().getName() )</label></td>
                     #if($desync.getApproveStatus())
                         <td style="text-align: center; border: 1px solid" >
                             <input type="checkbox" id="upapproveStatus_${desync.getDataElement().getId()}"  name="upapproveStatus_${desync.getDataElement().getId()}" checked />
                         </td>
                     #else
                         <td style="text-align: center; border: 1px solid" >
                             <input type="checkbox" id="upapproveStatus_${desync.getDataElement().getId()}" name="upapproveStatus_${desync.getDataElement().getId()}"  />
                         </td>
                     #end
                 </tr>
             #end
        #if($instancesLeft.size() != 0)     
          <tr id="tr${dataElementObj.getId()}" data-id="$!dataElementObj.getId()" data-uid="$!dataElementObj.getUid()"
           data-type="ApprovalDataElements" data-name="$encoder.htmlEncode( $!dataElementObj.getName() )">

           <td style="text-align: left; border: 1px solid">$encoder.htmlEncode( $dataElementObj.getName())</td>

           <td style="text-align: center; border: 1px solid">
               <input type="checkbox" name="appNeeded_${dataElementObj.getId()}" />
           </td>

           <td style="text-align: center; border: 1px solid">
               <select class="multiselect" multiple="multiple" id="sel${velocityCount}" name="instances_${dataElementObj.id}">
                   #foreach( $instance in $instancesLeft )
                       <option value="$instance.id" >$encoder.htmlEncode( $instance.name )</option>
                   #end
               </select>
           </td>

           <td style="text-align: center; border: 1px solid" >
               <input type="checkbox" id="approveStatus_${dataElementObj.getId()}" name="approveStatus_${dataElementObj.getId()}"  />
           </td>
        </tr>
       </tbody>
       #end
    #end
   
   <select name="instancesLeft" multiple style="display:none" >
	#foreach( $instance in $instancesLeft )
		<option value="$instance.id" selected >$instance.name</option>	
	#end
	</select>
   
 </tr>
 </table>
	<br>
	

</form>
