
<script type="text/javascript" src="javascript/updateDataSynchInstanceConfig.js"></script>

<h3>$i18n.getString( "edit_data_synch_instance" )</h3>

<form id="updateDataSynchInstanceForm" name ="updateDataSynchInstanceForm" action="updateDataSynchInstance.action" method="post" class="inputForm">

<input type="hidden" id="dataSynchInstanceId" name="dataSynchInstanceId" value="$!dataSynchInstance.id"/>
<input type="hidden" id="synchType" name="synchType" value="$!synchType"/>
<table>
    <tr>
        <th colspan="2">$i18n.getString( "details" )</th>
    </tr>
    <tr>
        <td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" value="$!encoder.htmlEncode( $!dataSynchInstance.name )"  class="{validate:{required:true}}"></td>
    </tr>
    <tr>
        <td><label for="url">$i18n.getString( "url" )  <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="url" name="url" value="$!encoder.htmlEncode( $!dataSynchInstance.url )" class="{validate:{required:true}}"></td>
    </tr>
    <tr>
        <td></td>
        <td><label for="message" style="color:gray"> (ex: http://192.168.0.194:8090/dhis/api )  </label></td>
    </tr>
    <tr>
        <td><label for="userid">$i18n.getString( "userid" )  <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="userId" name="userId" value="$!encoder.htmlEncode( $!dataSynchInstance.userId )" class="{validate:{required:true}}"></td>
    </tr>
    <tr>
        <td><label for="password">$i18n.getString( "password" )  <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="password" id="password" name="password" value="$!encoder.htmlEncode( $!encryptPassword )" class="{validate:{required:true}}"></td>
    </tr>
	
    <tr>
        <td><label for="type">$i18n.getString( "type" )  <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td>
			<select id="instanceType" name="instanceType" class="{validate:{required:true}}">
				<option value="" selected="selected">[$i18n.getString( "please_select" )]</option>
				<option value="S" #if( $!dataSynchInstance.getType() == 'S' ) selected="selected" #end>$i18n.getString( "server" )</option>
                <option value="C" #if( $!dataSynchInstance.getType() == 'C' ) selected="selected" #end>$i18n.getString( "client" )</option>
			</select>
		</td>
    </tr>	
	
</table>    

<p>
    <input type="submit" value="$i18n.getString( 'save' )" style="width:10em" />   
    <input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='dataSynchInstanceList.action?synchType=data'" style="width:10em" />
</p>
</form>
	
<script type="text/javascript">
	var i18n_field_is_required = '$encoder.jsEscape( $i18n.getString( "field_is_required" ) , "'") ';
</script>