#set($xmlString = $XMLcontent)

<script>
    $(document).ready(function(){

        if( typeof window.DOMParser === "undefined" ){
            window.DOMParser = function(){};

            window.DOMParser.prototype.parseFromString = function(str, contentType){
                if(typeof ActiveXObject !== 'undefined'){
                    var xmldata = new ActiveXObject('MSXML.DomDocument');
                    xmldata.async = false;
                    xmldata.loadXML(str);
                    return xmldata;
                } else
                if(typeof XMLHttpRequest !== 'undefined'){
                    var xmldata = new XMLHttpRequest;

                    if(!contentType){
                        contentType = 'application/xml';
                    }

                    xmldata.open('GET', 'data:' + contentType + ';charset=utf-8,' + encodeURIComponent(str), false);

                    if(xmldata.overrideMimeType) {
                        xmldata.overrideMimeType(contentType);
                    }

                    xmldata.send(null);
                    return xmldata.responseXML;
                }
            };
        }
    });


    var orgUnitUidMap = new Object();

        #foreach( $key in $keyCodeList )
        orgUnitUidMap["$key"] = '$uidMap.get("$key")';
      //      console.log('$key' +':'+'$uidMap.get("$key")');
        #end

    var parser = new DOMParser();
    var xmlObject = parser.parseFromString('${xmlString}', "text/xml");

    var trackedEntity = $(xmlObject).find("de-codes").find("meta").find("trackedEntity").text(),
            orgunit_col = $(xmlObject).find("de-codes").find("registration").find("orgunit").attr('col'),
            uniqueKey = $(xmlObject).find("de-codes").find("meta").find("uniquekey").text();

    //registration JSON object creation to send to api
    /*--------------------------------------------------------------------------------------------*/
    var registrationJSON = {
        "trackedEntity": trackedEntity.toString(),
    };
    var registerAttributeMap = new Object();
    var attributes=[];

    $( xmlObject ).find("de-codes").find("registration").find("attribute").each(function(){
        var  attributeUId = $(this).text(),
                colno =  $(this).attr('col');
             registerAttributeMap[attributeUId] = colno ;
    });
    /*--------------------------------------------------------------------------------------------*/


    //enrollment JSON object creation to send to api
    /*-------------------------------------------------------------------------------------------*/

    var enrollmentDate_col = $( xmlObject ).find("de-codes").find("enrollment").find("date").attr("col");
    var program = $( xmlObject ).find("de-codes").find("enrollment").find("program").text();

    var enrollmentJSON = {
        "program": program
    }
    /*---------------------------------------------------------------------------------------------*/


    //event JSON object creation to send to api
    /*-------------------------------------------------------------------------------------------*/

    var programStage = $( xmlObject ).find("de-codes").find("event").find("programStage").text();
    var status = $( xmlObject ).find("de-codes").find("event").find("status").text();

    var datavalues = [];
    var datavalueMap = new Object();

    var eventJSON = {
        "program": program,
        "status": "COMPLETED",
        "programStage": programStage
    };

    $( xmlObject ).find("de-codes").find("event").find("dataValues").find("de-code").each(function(){
        var  dataElementUId = $(this).text(),
                colno =  $(this).attr('col');
        datavalueMap[dataElementUId] = colno ;
    });
    /*---------------------------------------------------------------------------------------------*/


    for(var row = 5; row < 6 ; row++){

        var orgUnitCode = ExcelCellMap[row+'_'+orgunit_col];
        var orgUnitUid ='';

        if(orgUnitCode != undefined){
            orgUnitUid =  orgUnitUidMap[orgUnitCode.toString().trim()];
        }

      //  console.log(orgUnitCode +':'+ orgUnitUid);

        var enrollmentDate = ExcelCellMap[row+'_'+enrollmentDate_col];
        var uniquKeyValue = new String();

        for(var attributeUid in registerAttributeMap){
            var item = {};
            item ["attribute"] = attributeUid;

            if(ExcelCellMap[row+'_'+registerAttributeMap[attributeUid]] != undefined){
                item ["value"] = ExcelCellMap[row+'_'+registerAttributeMap[attributeUid]];

                switch (registerAttributeMap[attributeUid]){
                    case '4' : uniquKeyValue += ExcelCellMap[row+'_'+registerAttributeMap[attributeUid]]
                        break;
                    case '5' : uniquKeyValue += '_'+ ExcelCellMap[row+'_'+registerAttributeMap[attributeUid]]
                        break;
                    case '9' : uniquKeyValue += '_'+ ExcelCellMap[row+'_'+registerAttributeMap[attributeUid]]
                        break;
                    case '10' : uniquKeyValue += '_'+ ExcelCellMap[row+'_'+registerAttributeMap[attributeUid]]
                        break;
                }
            }
            else
            {
                console.log('There is missing attribute in row number ' + (row + 1 ));
            }

           attributes.push(item);
        }
        var unique = {};

        unique["attribute"] = uniqueKey;
        unique["value"] = uniquKeyValue ;

        attributes.push(unique);

        for(var dataelement in datavalueMap){

            var dataelements = {}
            dataelements ["dataElement"] = dataelement;

            if( ExcelCellMap[row+'_'+datavalueMap[dataelement]] != undefined ){
                dataelements ["value"] = ExcelCellMap[row+'_'+datavalueMap[dataelement]];
            }else
            {
                dataelements ["value"] = "";
            }
            datavalues.push(dataelements);
        }

        registrationJSON.orgUnit = orgUnitUid ;
        registrationJSON.attributes = attributes;

        enrollmentJSON.dateOfEnrollment = enrollmentDate;

        eventJSON.orgUnit = orgUnitUid;
        eventJSON.eventDate = enrollmentDate ;
        eventJSON.dataValues = datavalues;

        importExcelData(registrationJSON, enrollmentJSON, eventJSON);

      /*  console.log(JSON.stringify(registrationJSON));
        console.log(JSON.stringify(enrollmentJSON));
        console.log((JSON.stringify(eventJSON))) ;*/
    }

</script>
