
<div id="intro" class="bold">
    
    <br><br>
    
    <img src="../images/logo_banner.png"><br><br><br><br><br>
    
    $i18n.getString( "welcome_to_dhis2" )<br><br>
    
    <a href="../dhis-web-commons-about/help.action">$i18n.getString( "get_help_here" )</a>
    
</div>
