#set( $size = $dataElements.size() )
{"dataElements":[#foreach( $dataElement in $dataElements ){"id":$!{dataElement.id},"s":"$!encoder.jsonEncode( ${dataElement.displayShortName} )"}#if( $velocityCount < $size ),#end#end]}