<table class="table-borderless table-striped">
    <tr ng-repeat="attribute in attributes">
        <td>
            {{attribute.name}}<span ng-if="attribute.mandatory" class="required">*</span>
        </td>
        <td>
            <ng-form name="innerForm">
                <span ng-switch="attribute.valueType">
                    <span ng-switch-when="date">
                        <input type="text" 
                               placeholder="{{dhis2CalendarFormat.keyDateFormat}}" 
                               name="foo" 
                               class="form-control" 
                               d2-date
                               max-date="attribute.allowFutureDate ? '' : 0"
                               ng-model="newBen[attribute.id]"
                               ng-disabled="editingDisabled" 
                               ng-required="attribute.mandatory"/>
                    </span>
                    <span ng-switch-when="trueOnly">
                        <input type="checkbox" 
                               name="foo" 
                               class="form-control" 
                               ng-model="newBen[attribute.id]" 
                               ng-disabled="editingDisabled" 
                               ng-required="attribute.mandatory"/>
                    </span>
                    <span ng-switch-when="bool">
                        <select name="foo" 
                                ng-model="newBen[attribute.id]" 
                                class="form-control" 
                                ng-disabled="editingDisabled" 
                                ng-required="attribute.mandatory">
                            <option value="">{{'please_select'| translate}}</option>                        
                            <option value="false">{{'no'| translate}}</option>
                            <option value="true">{{'yes'| translate}}</option>
                        </select>
                    </span>
                    <span ng-switch-when="optionSet">
                        <input type="text"
                               name="foo"
                               class="form-control"
                               ng-model="newBen[attribute.id]"                                                 
                               typeahead="option.name as option.name for option in optionSets[attributesById[attribute.id].optionSet.id].options | filter:$viewValue | limitTo:20" 
                               typeahead-open-on-focus                                           
                               ng-disabled="editingDisabled" ng-required="attribute.mandatory"/>
                    </span>
                    <span ng-switch-when="number">
                        <input type="number" 
                               name="foo" 
                               class="form-control" 
                               ng-model="newBen[attribute.id]" 
                               ng-disabled="editingDisabled" 
                               ng-required="attribute.mandatory"/>
                    </span>
                    <span ng-switch-when="email">
                        <input type="email" 
                               name="foo" 
                               class="form-control" 
                               ng-model="newBen[attribute.id]" 
                               ng-disabled="editingDisabled" 
                               ng-required="attribute.mandatory"/>
                    </span>
                    <span ng-switch-default>
                        <input type="text" 
                               name="foo" 
                               class="form-control" 
                               ng-model="newBen[attribute.id]" 
                               ng-disabled="editingDisabled" 
                               ng-required="attribute.mandatory"/>                                    
                    </span>
                </span>
            </ng-form>
            <span ng-show="outerForm.submitted && innerForm.foo.$invalid" class="error">{{'required'| translate}}</span>
        </td>
    </tr>           
</table>

<div class="vertical-spacing">                
    <button type="button" class="btn btn-primary" ng-click="registerBeneficiary(null)">{{'save'| translate}}</button>
    <button type="button" class="btn btn-success" ng-click="registerBeneficiary('SERVICE')">{{'save_and_add_service'| translate}}</button>
    <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="showAddServiceRow()">{{'cancel'| translate}}</button>
</div>