<?xml version="1.0" encoding="UTF-8"?>
<exportItems>
#foreach($exportItem in $exportItems)
	<exportItem>
		<id>$exportItem.id</id>
		<name>$encoder.xmlEncode( $exportItem.name )</name>
		<row>$exportItem.row</row>
		<column>$exportItem.column</column>
	</exportItem>
#end
</exportItems>