
<script type="text/javascript">

function formValidations()
{
   	//alert("validation");
	
    var orgUnitList = document.getElementById("orgUnitId");
    var orgUnitIndex = orgUnitList.selectedIndex;
    
    if( orgUnitList.options[orgUnitIndex].value == null || orgUnitList.options[orgUnitIndex].value== "" ) 
	{ 
		showWarningMessage( "Please Select District" );
		return false; 
	}
    
    return true;
}

</script>



<form id="asha_format8_report_form" name="asha_format8_report_form" action="format8ReportResult.action" method="post" onsubmit="return formValidations()" target="_blank" >
	<table>
		<tr>
			<th colspan="2">$i18n.getString( "asha_format8_report_form" )</th>
		</tr>
		<tr>
			<td>$i18n.getString( "district" )&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				<select id="orgUnitId" name="orgUnitId" >
					<option value="">[$i18n.getString( "select" )]</option>
					#foreach( $orgUnitGroupMember in $orgUnitGroupMembers )
						<option value="$orgUnitGroupMember.id">$orgUnitGroupMember.name</option>
					#end				
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>		

		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value='$i18n.getString("generate_report")' />
			</td>
		</tr>
	</table>
</form>