<?xml version="1.0" encoding="UTF-8"?>

<organisationUnitList>
	#foreach( $organisationUnit in $organisationUnitList )	
		<orgUnit>
			<id>$organisationUnit.id</id>
			<name>$organisationUnit.getName()</name>
		</orgUnit>
	#end
</organisationUnitList>
