<?xml version="1.0" encoding="UTF-8"?>
<importReports>
	#foreach($importReport in $importReports)
		<importReport>
			<id>$importReport.id</id>
			<name>$encoder.xmlEncode( $!importReport.name )</name>
			<type>$importReport.type</type>
			<periodType>$importReport.periodType.name</periodType>
			<excelTemplateFile>$importReport.excelTemplateFile</excelTemplateFile>
		</importReport>
	#end
</importReports>