<?xml version="1.0" encoding="UTF-8"?>
<importItems>
	#foreach($importItem in $importItems)
		<importItem>
			<id>$importItem.id</id>
			<name>$encoder.xmlEncode( $importItem.name )</name>
			<row>$importItem.row</row>	
			<column>$importItem.column</column>
			<expression>$encoder.xmlEncode( $importItem.expression )</expression>
			<sheetNo>$importItem.sheetNo</sheetNo>
		</importItem>
	#end
</importItems>