<script type="text/javascript" src="javascript/gateway.js"></script>
<script type="text/javascript">
	 $(document).ready(function() {
        changeValueType("modem");
    }); 
</script>
<h3>$i18n.getString("add_gateway")</h3>
<form id="add" name="addGateWayConfig" action="addGateWayConfig.action" method="post" >
	<table id="detailsList">
			<tr>
	        	<th colspan="2">$i18n.getString("gateway_type")</th>
	      	</tr>
			<tr>
				<td>$i18n.getString("type"):</td>
				<td>
					<select style="width: 100%;" onchange="changeValueType( this.value )">
						<option value="modem">Modem</option>
						<option value="clickatell">Clickatell</option>
						<option value="bulksms">BulkSMS</option>
					</select>
				</td>
			</tr>
			<tr>
				<th colspan="2">$i18n.getString("gateway_configuration")</th>
			</tr>
		<tbody id="modemFields">
			<tr>
				<td>$i18n.getString("gateway_name"):</td>
				<td><input type="text" name="name" id="name" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("port"):</td>
				<td><input type="text" name="port" id="port" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("baudrate"):</td>
				<td><input type="text" name="port" id="port" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("manufacturer"):</td>
				<td><input type="text" name="manufacturer" id="manufacturer" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("model"):</td>
				<td><input type="text" name="model" id="model" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("pin"):</td>
				<td><input type="text" name="pin" id="pin" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("inbound"):</td>
				<td>
					<select style="width: 100%;">
						<option value="true">$i18n.getString("yes")</option>
						<option value="false">$i18n.getString("no")</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>$i18n.getString("outbound"):</td>
				<td>
					<select style="width: 100%;">
						<option value="true">$i18n.getString("yes")</option>
						<option value="false">$i18n.getString("no")</option>
					</select>
				</td>
			</tr>
		</tbody>
		<tbody id="bulksmsFields">
			<tr>
				<td>$i18n.getString("gateway_name"):</td>
				<td><input type="text" name="name" id="name" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("username")::</td>
				<td><input type="text" name="username" id="username" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("password"):</td>
				<td><input type="text" name="password" id="password" style="width: 28em" /></td>
			</tr>
		</tbody>
		<tbody id="clickatellFields">
			<tr>
				<td>$i18n.getString("gateway_name"):</td>
				<td><input type="text" name="name" id="name" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("username")::</td>
				<td><input type="text" name="username" id="username" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("password")::</td>
				<td><input type="text" name="password" id="password" style="width: 28em" /></td>
			</tr>
			<tr>
				<td>$i18n.getString("api_id")::</td>
				<td><input type="text" name="apiid" id="apiid" style="width: 28em" /></td>
			</tr>
		</tbody>
		<tr>
			<td colspan="2" align="right"><input type="button" name="save" value="$i18n.getString('save_settings')"/><input type="button" name="back" value="$i18n.getString('back'):"/></td>
		</tr>
	</table>
</form>

