<h2>DHIS Mobile Configuration</h2>
<ul>
<!--    <li><a href = "mobileSettings.action">Settings</a></li>-->
	<li><a href="patientMobileSetting.action">$i18n.getString( "patient_mobile_setting" )</a></li>
	<li><a href="showMobileDataSet.action">$i18n.getString( "mobile_dataset" )&nbsp;</a></li>
    <li><a href = "sendSMS.action">$i18n.getString( "send_sms" )</a></li>
    <li><a href = "showSMSServiceConfiguration.action">$i18n.getString( "sms_service_configuration" )</a></li>
</ul>