
*
{
  font-family: tahoma, sans-serif;
  line-height: 125%;
}

html,body
{
  background-color: #1d5288;  
  color: white;
  font-size: 16px;
}

.loginField
{
  margin-top: 7%;
}

.loginField td
{
  padding-right: 5px;
}

.headerText
{
  font-size: 20px;
}

.loginMessage
{
    background-color: #3b6da1;
    border-style: solid;
    border-width: 1px;
    border-color: #D0D0D0;
    padding: 11px;
    display: block;
    width: 400px;
}

.button {
  background: -webkit-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -moz-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -ms-linear-gradient(top, #f1f1f1, #d1d1d1);
  background: -o-linear-gradient(top, #f1f1f1, #d1d1d1);
  height: 26px;
  border: 1px solid #444;
  border-radius: 3px;
  color: #222;
  font-weight: bold;
}

.button:hover {
  background: -webkit-linear-gradient(top, #fafafa, #dadada);
  background: -moz-linear-gradient(top, #fafafa, #dadada);
  background: -ms-linear-gradient(top, #fafafa, #dadada);
  background: -o-linear-gradient(top, #fafafa, #dadada);
  border: 1px solid #333333;
}
