/*----------------------------------------------------------------------------*/
/* For data entry form                                                        */
/*----------------------------------------------------------------------------*/

.entryScreen
{
 margin-bottom:20px; 
 width:60%;
 font-size: 13px; 
 line-height:18px;
}

input.inputText
{
	width:220px; 
	text-align:center;
}

select.inputText
{
	width:225px; 
	text-align:center;
}

input.optionset
{
	width:195px; 
	text-align:center;
}

.text-column
{
	text-align:left;
	padding-right:20px; 
	padding-left:5px; 
}

.hidden 
{
	display: none;
}

.visible
{
	display: block;
}

/*----------------------------------------------------------------------------*/
/* For Program Stages History/Plan                                            */
/*----------------------------------------------------------------------------*/

td.row
{
	border-bottom-style:dotted;
}

table.history
{
	width:350px; 
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}

div#currentSelection
{
	float:right;
	color: black;  
	font-size: 12px; 
}

/*----------------------------------------------------------------------------*/
/* Action fiels in entry form                                                 */
/*----------------------------------------------------------------------------*/

input.button
{
	width: 150px;
	padding-left:5px;
	padding-right:5px;
}

.padding-chart
{
	padding: 10px;
}

.criteria
{
	width:350px;
	padding-left:5px;
}

.inputWidth
{
	width:350px;
}

div.actions
{
  float: right;
  width:200px;
  text-align: right;
}

.small-button {
	font-size: .8em !important;
}