<html>
    <head>
    <title>Data Set Report Result</title>

	<script type="text/javascript">
	jQuery(document).ready(function(){	
		tableSorter( 'listTable' );	
		setTableStyles();
	});

    var i18n_value_must_be_a_number = '$encoder.jsEscape( $i18n.getString( "value_must_be_a_number" ) , "'")';
    var i18n_value_is_lower_than_min_value = '$encoder.jsEscape( $i18n.getString( "value_is_lower_than_min_value" ) , "'")';
    var i18n_value_is_higher_than_max_value = '$encoder.jsEscape( $i18n.getString( "value_is_higher_than_max_value" ) , "'")';
    var i18n_mark_value_for_followup = '$encoder.jsEscape( $i18n.getString( "mark_value_for_followup" ) , "'")';
    var i18n_unmark_value_for_followup = '$encoder.jsEscape( $i18n.getString( "unmark_value_for_followup" ) , "'")';
    
	function exportCustumDataSetReportToWorkBook()
	{			    
	    document.getElementById('htmlCode').value = document.getElementById('formResult').innerHTML;
			    			
	    return true;
	}
</script>
</head>
<body>
<form id="form" name="form" action="exportToExcel.action" method="post" onsubmit="exportCustumDataSetReportToWorkBook()" target="_newtab">
<input type="hidden" name="htmlCode" id="htmlCode" /> 
<div id="export">
<table> 
    <tr>
        <td colspan="2" style="height:5px"></td>
    </tr>
	<tr>
		<td>
			<input type="submit" onclick="exportDataStatusReport( 'xls' )" value="$i18n.getString( 'get_report_as_workbook' )" style="width:140px">
		</td>	
	</tr>
</table>
</div>           
<div id="formResult">

#parse( "dhis-web-reporting/renderDataSetReportHeader.vm" )

#set( $css = "cde cde-$!{selectedDataSet.dataEntryForm.style}" )
<div class="${css}">
	$customDataEntryFormCode
</div>

</div></form></body></html>