<?xml version="1.0" encoding="UTF-8"?>
<exportReports>	
	<organisationUnit>$!encoder.xmlEncode($organisationUnit.name)</organisationUnit>
	#foreach($exportReport in $exportReports)
	<exportReport>
		<id>$exportReport.id</id>
		<name>$!encoder.xmlEncode($exportReport.name)</name>
		<flag>$!idMap.contains($!exportReport.id)</flag>
	</exportReport>
	#end
</exportReports>