<h3>$i18n.getString( "administration" )</h3>

<ul id="introList">
    #introListImgItem( "getConfiguration.action" "configuration" "systemsettings")
    #introListImgItem( "listAllExportReport.action" "export_reports" "export")
	#introListImgItem( "listAllImportReport.action" "import_reports" "import" )
    #introListImgItem( "listDataEntryStatus.action" "data_status_management" "validationcriteria")
    #introListImgItem( "listAllExcelTemplates.action" "excel_template_management" "excel")
	#introListImgItem( "javascript: cleanUp();" "clean_up" "clean-up")
	<!--#introListImgItem( "jcharts.action" "chart" "jchart")-->
</ul>
<script>
	function go(action){
		window.location = action;
	}
	function cleanUp(){
		var request = new Request();
		request.setResponseTypeXML( 'xmlObject' );
		request.setCallbackSuccess( cleanUpCompleted );
		request.send( 'cleanUpDraftFile.action' );
	}
	
	function cleanUpCompleted( xmlObject ){	
		setHeaderDelayMessage( xmlObject.firstChild.nodeValue );
	}
</script>
