<script type="text/javascript" src="javascript/addOrganisationUnitGroupForm.js"></script>

<h3>$i18n.getString( "crease_new_org_unit_group" ) #openHelp( "ou_groups_edit" )</h3>

<form name="addOrganisationUnitGroupForm" id="addOrganisationUnitGroupForm" action="addOrganisationUnitGroup.action" method="POST">

<p>$i18n.getString( "name" )
	<em title="$i18n.getString( 'required' )" class="required">*</em>
	<input type="text" name="name" id="name" style="width:300px">
</p>

<table>
	<tr>
		<td>
			#organisationUnitSelectionTree( true true false )
		</td>
	</tr>
</table>	
<p>
	<input type="submit" name="save" value="$i18n.getString( 'save' )" style="width:10em"/>
	<input type="button" onclick="window.location.href='organisationUnitGroup.action'" value="$i18n.getString( 'cancel' )" style="width:10em"/>
</p>  
</form>