<h4> $i18n.getString( "case_aggregation_result" )</h4>
		
<div>
    <input type="button" value="$i18n.getString( "back" )" onclick="backBtnOnClick();" style="width:10em">
</div>

<p></p>
<div>
#if( $mapDataValues.keySet().size() > 0 )
<table class='mainPageTable listTable'>
	<col width="40">          
	<col>
	<col>
	<col>  
	<thead>
		<tr>
			<th>#</th>
			<th>$i18n.getString('name')</th>
			<th>$i18n.getString('value')</th>
			<th>$i18n.getString('status')</th>
		</tr>
	</thead>
	
	#set ( $keys = $mapDataValues.keySet() )
	#set ($index = 1)
	<tbody>
		#set( $mark = false )
		#foreach( $key in $keys)
			<tr #alternate( $mark ) style="cursor: pointer" title="$i18n.getString('show_details')" onclick="viewResultDetails($key.source.id,$key.period.id,$mapCaseAggCondition.get($key).id)">
				<td>$index</td>
				<td>$key.dataElement.getName()</td>
				<td>$key.getValue()</td>
				<td>$mapDataValues.get($key)</td>
			</tr>
			#set( $mark = !$mark  )
			#set ($index = $index + 1)
		#end
	</tbody>
</table>
#else
	$i18n.getString('no_value_added_or_update')
#end
</div>

<div id='contentDetails'></div>

<script>
	var i18n_aggregate_details = '$encoder.jsEscape( $i18n.getString( "aggregate_details" ) , "'")';
</script>