
<script>
	jQuery("#entryFormContainer").ready(function(){
	
		#if( $!programStageInstance.programStage.program.anonymous=="true" && $!programStageInstance.completed=='true')
			hideById('entryFormContainer');
		#elseif( $programStageInstance )
			setFieldValue( 'dueDate', "$!format.formatDate( $programStageInstance.dueDate )" );
			setFieldValue( 'executionDate', "$!format.formatDate( $programStageInstance.executionDate )" );
		#elseif( $program.singleEvent == "true" )
		{
			disable("dueDate");
		}
		#end
		
		$('#executionDate').change(function() {
				saveExecutionDate( getFieldValue('programStageId'), getFieldValue('executionDate') );
			});
			
		if( getFieldValue('programStageId') == 0 )
		{
			disable('executionDate');
		}
		else
		{
			enable('executionDate');
		}
		
		entryFormContainerOnReady();
			
	});
</script>

<div id='entryFormContainer'>

<input type='hidden' id='incidentDate' value='$!format.formatDate($programStageInstance.programInstance.dateOfIncident)'>
<input type='hidden' name='programStageInstanceId' id='programStageInstanceId' value='$!programStageInstance.id'>
<input type='hidden' name='programInstanceId' id='programInstanceId' value='$!programStageInstance.programInstance.id'>
<input type='hidden' name='irregular' id='irregular' value='$!programStageInstance.programStage.irregular'>
<input type='hidden' name='completed' id='completed' value='$!programStageInstance.completed'>

<div id='entryForm' #if($!programStageInstance.executionDate) class='visible' #else class='hidden' #end;>
	#if( $customDataEntryFormCode )
		<div id="customEntryScreenContainer">
		   $customDataEntryFormCode

			<script type="text/javascript"> 
				#if( $!programStageInstance.programStage.program.anonymous == 'false' )
					initCustomCheckboxes();
				#end
			</script>
		</div>
	#else
		<table id="defaultEntryScreenContainer" class='entryScreen formSection'>
			<col id="deCol">    
			<col id="entryCol">
			#if( $programStageInstance.programInstance.program.displayProvidedOtherFacility == 'true' )
			<col id="facilityCol">       
			#end
			<tr>
				<th>$i18n.getString( "data_element" )</th>                   
				<th>$i18n.getString( "entry" )</th>
				#if( $programStageInstance.programInstance.program.displayProvidedOtherFacility == 'true' )
					<th>$i18n.getString( "provided_elsewhere" )</th>             
				#end
			</tr>
		#set( $dataElementRowCount = 0 )
		#set( $mark = true )
		#set( $tabIndex = 1 )
		#foreach( $programStageDataElement in $programStageDataElements )
			#set( $dataElementRowCount = $dataElementRowCount + 1 )    
			#set( $mark = !$mark )
			#set( $patientDataValue = false )
			#set( $key = $programStageDataElement.dataElement.id )
			#set( $patientDataValue = $patientDataValueMap.get( $key ) )    
			<tr #alternate( $mark )>
				##data element name
				<td class='text-column'>
					<span id="value[$programStageDataElement.dataElement.id].name" title="$!encoder.htmlEncode( $programStageDataElement.dataElement.description )">
						$encoder.htmlEncode( $programStageDataElement.dataElement.formNameFallback )						
						#if ( $programStageDataElement.compulsory )
							<em title="$i18n.getString( "required" )" class="required">*</em>
						#end        
					</span>
					##type        
					<span id="value[$programStageDataElement.dataElement.id].type" class="hidden">$encoder.htmlEncode( $programStageDataElement.dataElement.type )</span></td>       
				</td>        
				##entry        
				<td>   
					#set( $id = $programStageDataElement.programStage.id + '-' + $programStageDataElement.dataElement.id + '-val' )
					#if( $!programStageDataElement.dataElement.optionSet )
						#set( $optionId = $id + '-options')
						<input class='optionset' name="entryselect" options='$programStageDataElement.dataElement.optionSet.options' id='$id' value='$!patientDataValue.value' data="{compulsory: $programStageDataElement.compulsory, deName:'$programStageDataElement.dataElement.name', deType:'$programStageDataElement.dataElement.getDetailedNumberType()' }" #if($programStageInstance.completed) disabled="disabled" #end id="$id-options" dataElementId="$programStageDataElement.dataElement.id" onkeypress="return keyPress(event, this)" tabindex="$tabIndex" />
					#elseif( $programStageDataElement.dataElement.type == "bool" )
						<select name="entryselect" #if($programStageInstance.completed) disabled="disabled" #end data="{compulsory: $programStageDataElement.compulsory }" id="$id" onchange="saveOpt( $programStageDataElement.dataElement.id )" tabindex="$tabIndex"> 
							<option value="">[$i18n.getString( "select_value" )]</option>
							<option value="true" #if( $patientDataValue.value == "true" ) selected="selected" #end>$i18n.getString( "yes" )</option>
							<option value="false" #if( $patientDataValue.value == "false" ) selected="selected" #end>$i18n.getString( "no" )</option>
						</select> 
					#elseif( $programStageDataElement.dataElement.type == "date" )
						<input type="text" data="{compulsory: $programStageDataElement.compulsory }" #if($programStageInstance.completed) disabled="disabled" #end id="$id" name="entryfield" value="$!encoder.htmlEncode( $patientDataValue.value )" onchange="saveDate( $programStageDataElement.dataElement.id )" onkeypress="return keyPress(event, this)" tabindex="$tabIndex" >
						#if(!$programStageInstance.completed)
							<script type="text/javascript">
								datePicker($programStageDataElement.programStage.id + '-' + $programStageDataElement.dataElement.id + '-val', false);
							</script>   
						#end
					#else
						<input name="entryfield" data="{compulsory: $programStageDataElement.compulsory, deName:'$programStageDataElement.dataElement.name', deType:'$programStageDataElement.dataElement.getDetailedNumberType()' }" #if($programStageInstance.completed) disabled="disabled" #end id="$id" type="text" value="$!encoder.htmlEncode( $patientDataValue.value )" onchange="saveVal( $programStageDataElement.dataElement.id )" onkeypress="return keyPress(event, this)" tabindex="$tabIndex">
					#end
				</td>  
				
				##providedByAnotherFacility 
				#set( $id = $programStageDataElement.programStage.id + '_' + $programStageDataElement.dataElement.id + '_facility' )
				#if($programStageInstance.programInstance.program.displayProvidedOtherFacility == 'true') 					
				<td>   
					#if ( $patientDataValue.value )        
						#if( !$patientDataValue.providedByAnotherFacility )
							$patientDataValue.organisationUnit.name
							<input  name="providedByAnotherFacility" id="$id" type="hidden" onclick="updateProvidingFacility( $programStageDataElement.dataElement.id, this )" #if($programStageInstance.completed) disabled="disabled" #end >
						#else
							$i18n.getString("other_facility")
							<input  name="providedByAnotherFacility" id="$id" type="hidden" onclick="updateProvidingFacility( $programStageDataElement.dataElement.id, this )" #if($programStageInstance.completed) disabled="disabled" #end >
						#end
					 #else
						<input name="providedByAnotherFacility" id="$id" type="checkbox" onclick="updateProvidingFacility( $programStageDataElement.dataElement.id, this )" #if($programStageInstance.completed) disabled="disabled" #end >
					 #end                         
				</td>
				#else
					<input name="providedByAnotherFacility" id="$id" type="hidden">
				#end					
			</tr>
			#set( $tabIndex = $tabIndex + 1 )
		#end
		</table>
	#end
</div>

</div>

<div id='validateProgramDiv'></div>
