<form id='dataRecordingSelectForm' name='dataRecordingSelectForm' method='post'>
   	
<table class="mainPageTable" id='patientInfoDiv'> 
	<tr>
		<td valign="top">
	<table>
		<tr>            
			<td class="bold">$i18n.getString( "full_name" ):</td>
			<td>$encoder.htmlEncode( $patient.getFullName() )<td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "gender" ):</td>
			<td>$i18n.getString( $patient.gender )</td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "date_of_birth" ):</td>
			<td>$format.formatDate( $patient.birthDate )<td>
		</tr>
		<tr>
			<td class="bold">$i18n.getString( "age" ):</td>
			<td>$encoder.htmlEncode( $patient.getAge() )</td>
			<input type="hidden" name="patientId" id="patientId" value="$patient.id">
		</tr>
		</table>
	</tr>
	<tr>
		<td>
			<a href="javascript:showHistoryPlan()" id='historyPlanLink' title="$i18n.getString( 'see_history_plan' )" class="hidden">$i18n.getString('see_history_plan')</a>
			<div id="currentSelection" class="hidden history"></div>
		</td>
	</tr>
</table>


<div class="actions">	
	<input type="button" class='button' id="newEncounterBtn" value="$i18n.getString('enter_new_encounter')" onClick="javascript: registerIrregularEncounter();" disabled="disabled" >
	<input type="button" class='button' id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();" disabled="disabled" >
	<input type="button" class='button' id="completeBtn" value="$i18n.getString('complete')" onClick="doComplete()" disabled="disabled" >
	<input type="button" class='button' value="$i18n.getString( 'back_to_search' )" id='backBtnFromEntry' onclick="javascript:showSearchForm();" >
</div>
		
<div class="inputCriteria" style="width:530px;height:130px;">

	<table> 
		<tr>
			<td>
				<table>
				   <tr>
						<td class='text-column'><label for="programId">$i18n.getString( "program" )</label></td>
						<td>
							<select id="programId" name="programId" class="criteria" onchange="loadProgramStages();" #if( $programs.size() == 0 ) disabled="disabled" #end>
								<option value="0">[$i18n.getString( "select" )]</option>
								#foreach( $program in $programs )
									<option value="$program.id" singleevent="$program.singleEvent" #if( $programId && $program.id == $programId ) selected="selected" #end>$encoder.htmlEncode( $program.name )</option>
								#end
							</select>
						</td>
					</tr>
					<tr id='programStageIdTR' >
						<td class='text-column'><label for="programStageId">$i18n.getString( "program_stage" )</label></td>
						<td>
							<select id="programStageId" name="programStageId" class="criteria" onchange="javascript:loadDataEntry();" >
							</select>
						</td>
					</tr>
					
					<tr>
						<td class='text-column'><label for="executionDate">$i18n.getString( "report_date" ) </label></td>
						<td><input type="text" id="executionDate" name="executionDate" class="criteria" value="$!format.formatDate( $programStageInstance.executionDate )" >
							<script type="text/javascript">
							   datePickerValid( 'executionDate', false );
							   disable('executionDate');
							</script>
					</tr>
					
					<tr id='dueDateTR'>
						<td class='text-column'><label for="dueDate">$i18n.getString( "due_date" ) </label></td>
						<td><input type="text" id="dueDate" name="dueDate" class="criteria" value="$!format.formatDate( $programStageInstance.dueDate )" readonly> </td>
					</tr>
				</table>
			</td>
			
			
		</tr>
	</table>
</div>

</form>

<script>
	jQuery('#dataRecordingSelectForm').ready(function(){ 
		var programs = byId('programId');
		if( programs.options.length == 2 )
		{
			 byId('programId').selectedIndex = 1;
			 loadProgramStages();
		}
	});
	
	selection.setListenerFunction( organisationUnitSelected );
</script>
