<h3>$i18n.getString( "patient_chart_management" )</h3>

<table class="mainPageTable">
	
	<tr>            
		<th>$i18n.getString( "name" )</th>
		<th class="{sorter: false}" style="width:60px">$i18n.getString( "operations" )</th>
	</tr>
	
	<tbody id="list">
		#foreach( $patientChart in $patientCharts )
			<tr id="tr${patientChart.id}">
				<td>
					$patientChart.title
				</td>
				<td>
					<a href="javascript:viewChart( 'generatePatientChart.action?id=$patientChart.id', '$patientChart.size' )" title="$i18n.getString( 'generate_patient_chart' )"><img src="../images/add_to_dashboard.png" alt="$i18n.getString( 'generate_patient_chart' )"></a>
				</td>
			</tr>
		#end

	</tbody>
</table>
