
<script>
	//-----------------------------------------------------------------------
	//init jQuery validation for programEnrollmentForm
	//-----------------------------------------------------------------------
	jQuery(document).ready(
			function()
			{
				jQuery("#programUnenrollmentForm").validate({
					 meta:"validate"
					,errorElement:"td"
					,submitHandler: function(form)
									{
										validateProgramEnrollment();
									}
				});

                datePickerValid( 'enrollmentDate' );
                datePickerValid( 'dateOfIncident' );
			}
	);

</script>

<h3>$i18n.getString( "program_unenrollment" )</h3>

<table>
    <tr>
        <td class="bold text-column">$i18n.getString( "full_name" ):</td>
        <td>$encoder.htmlEncode( $patient.getFullName() )</td>
    </tr>
    <tr>
        <td class="bold text-column">$i18n.getString( "gender" ):</td>
        <td>$i18n.getString( $patient.gender )</td>
    </tr>    
    <tr>
        <td class="bold text-column">$i18n.getString( "date_of_birth" ):</td>
        <td>$format.formatDate( $patient.birthDate )</td>
    </tr>
    <tr>
        <td class="bold text-column">$i18n.getString( "age" ):</td>
        <td>$encoder.htmlEncode( $patient.getAge() )</td>
    <tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td colspan='2'>
			<input type="button" value="$i18n.getString( 'back_to_registration' )" onclick="onClickBackBtn();" >
		</td>
	</tr>
</table>

<hr style="clear:both">

<form id="programEnrollmentForm" name="programEnrollmentForm" method="post">

<input type="hidden" id="patientId" name="patientId" value="$patient.id">    

<table>    
    <tr>
        <td class="text-column" style='width:110px'><label for="programId">$i18n.getString( "program" )</label></td>
        <td class="input-column">
            <select id="programInstanceId" name="programInstanceId" onchange="showUnenrollmentForm( this.value )" >
                <option value="0">[$i18n.getString( "select" )]</option>
                #foreach( $instance in $programInstances )
                    <option value="$instance.id" >$encoder.htmlEncode( $instance.program.name )</option>
                #end
            </select>
        </td>
    </tr>   
        
</table>

<div id='unenrollmentFormDiv' class='hidden'>
	
	<table>
		<tr>
			<td class='text-column'><label for="enrollmentDate">$i18n.getString( "date_of_enrollment" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td class="input-column"><input type="text" id="enrollmentDate" name="enrollmentDate" value="$!format.formatDate( $programInstance.enrollmentDate )"> <i id='dateOfEnrollmentDescription'></i></td>
		</tr>
		
		<tr>
			<td class='text-column'><label for="dateOfIncident">$i18n.getString( "date_of_incident" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td class="input-column"><input type="text" id="dateOfIncident" name="dateOfIncident" value="$!format.formatDate( $programInstance.dateOfIncident )"><i id='dateOfIncidentDescription'></i></td>
		</tr>
		<tr>
			<td></td>
			<td></td>                           
		</tr>

		<tr>
			<td colspan='2'></td>	
		<tr>
	
		<!-- ------------------------------------------------------------ -->
		<!--                   Show Program - Attributes                  -->
		<!-- ------------------------------------------------------------ -->
		<tr>
			<th colspan='2'>$i18n.getString('reason')</th>
		<tr>
		#foreach($attribute in $programAttributes)
		<tr>
			<td class='text-column'>$attribute.name</td>
			<td class="input-column">
				#if( $attribute.valueType == "YES/NO" )
					<select id="attr$attribute.id" name="attr$attribute.id" > 
						<option value="">[$i18n.getString( "please_select" )]</option>
						<option value="true">$i18n.getString( "yes" )</option>
						<option value="false">$i18n.getString( "no" )</option>
					</select>                     
				#elseif( $attribute.valueType == "DATE" )
					<input type="text" id="attr$attribute.id" name="attr$attribute.id" class=' #validate( "default"  $attribute.mandatory )'>
					<script type="text/javascript">
						var attributeId = 'attr' + '$attribute.id'
						datePickerValid( attributeId );
					</script>                       
				#elseif( $attribute.valueType == "COMBO" )
					<select id="attr$attribute.id" name="attr$attribute.id" >
						<option value="">[$i18n.getString( "please_select" )]</option>
						#foreach ($option in $attribute.attributeOptions )
							<option value="$option.id" >$option.name</option>
						#end
					</select>
				#else 
					<input type="text" id="attr$attribute.id" name="attr$attribute.id" >
				#end
				
				#if($!programAttribute.description) <i>($!programAttribute.description)</i> #end
			</td>		
		</tr>
		#end
		
		<tr>
			<td></td>
			<td></td>                            
		</tr>
	
	</table>


	<table>
		<tr>
			<td>
				<input type="button" class='button' value='$i18n.getString( "unenroll" )' onclick="javascript:unenrollmentForm( getFieldValue('programInstanceId') );" >
			</td>                                        
		</tr>
	</table>
</div>

</form>

<script type="text/javascript">    
    var i18n_program_enrollment_failed = '$encoder.jsEscape( $i18n.getString( "program_enrollment_failed" ) , "'")';
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")'; 
	var i18n_date_invalid = '$encoder.jsEscape( $i18n.getString( "date_invalid" ) , "'")';
	var i18n_date_less_incident = '$encoder.jsEscape( $i18n.getString( "date_less_incident" ) , "'")';
</script>
