<input type='hidden' id='registerEvent' name='registerEvent' value='$registerEvent'>

#if( $programStageInstances.size() > 0 )
	<table class='mainPageTable'>
		<col id="noCol">
		<col id="stageCol">    
		<col id="entryCol">    
		<tr>
			<th>$i18n.getString( "nr" )</th>
			<th>$i18n.getString( "program_stage" )</th>                   
			<th>$i18n.getString( "due_date" )</th>        
		</tr>
		
	#set( $rowCount = 0 )
	#set( $mark = false )
	#set( $tabIndex = 1 )
	
	#foreach( $programStageInstance in $programStageInstances )
	
		#set( $rowCount = $rowCount + 1 )   
		<tr #alternate( $mark ) >
			##rowCount
			<td>$rowCount</td>        
			##stage name
			<td class='textColumn'>
				<span id="value[$programStageInstance.id].name" title="$!encoder.htmlEncode( $programStageInstance.programStage.description )">
					$encoder.htmlEncode( $programStageInstance.programStage.name )            
				</span>
			</td>        
				   
			##entry
			#set( $duedateId = "value_"+$programStageInstance.id+"_date" )        
			<td class='input-column '>        
				<input type="text" id="$duedateId" name="entryfield" value="$!format.formatDate( $programStageInstance.dueDate )" onchange="saveDueDate( $programStageInstance.id, '$encoder.jsEncode( $programStageInstance.programStage.name )' )" tabindex="$tabIndex" >
				<script type="text/javascript">
					datePicker( '$duedateId' );
				</script> 
			</td>      
		</tr>
		#set( $tabIndex = $tabIndex + 1 )
		#set( $mark = !$mark  )
	#end
	</table>
#end


<script type="text/javascript">
	byId('enrollBtn').value = i18n_update;
	setInnerHTML('enrollmentDateDescription', "$!program.dateOfEnrollmentDescription" );
	setInnerHTML('dateOfIncidentDescription', "$!program.dateOfIncidentDescription" );
	setFieldValue('enrollmentDate', "$!format.formatDate( $programInstance.enrollmentDate )" );
	setFieldValue('dateOfIncident', "$!format.formatDate( $programInstance.dateOfIncident )");
	
	if ( getFieldValue('enrollmentDate' ) == ''){	
		jQuery('#enrollBtn').attr( 'value',i18n_enroll_to_program );
	}else{
		jQuery('#enrollBtn').attr( 'value',i18n_update );
	}	
</script>

