
<a href="index.action" title="$i18n.getString( 'back_to_main_menu' )"><img src="../images/up_left.png" alt="$i18n.getString( 'back_to_main_menu' )"></a>

<a href="index.action"><h2>$i18n.getString( "reports" )&nbsp;</h2></a>
<ul>
    <li><a href="reportSelect.action">$i18n.getString( "program_summary" )&nbsp;</a></li>
	<li><a href="showSingleEventReportForm.action"> $i18n.getString( "anonymous_event_reports" )&nbsp;</a></li> 
</ul>

<br>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )