<span class="bold">$i18n.getString( "total_result" ): $!total $i18n.getString('patients')</span>
<p></p>
<table width='100%' id='searchTable' name='searchTable'>
#if($!patients)
	<tr>
		<td></td>
		<td colspan='4'>&nbsp;</td>
		<td></td>
	</tr>
	
	<thead><tr #alternate( true )>
		<th>#</th>
		<th>$i18n.getString('full_name')</th>
		<th>$i18n.getString( "age" )</th>
		<th>$i18n.getString( "gender" )</th>
		<th>$i18n.getString( "dob_type" )</th>
		<th>$i18n.getString( "date_of_birth" )</th>
		<th>$i18n.getString( "registered_by_orgunit" )</th>
	</tr></thead>
	<tbody>
		#set($mark = false)
		#foreach( $patient  in $patients )
			<tr id="tr${patient.id}" #alternate($mark) onclick='showUpdatePatientForm($patient.id)' style="cursor:pointer" title="$i18n.getString('update_this_patient')">
				<td>
					#set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
					$nr
				</td>
				<td>$!patient.getFullName()</td>
				<td>$!patient.getAge()</td>
				<td>$i18n.getString( $!patient.gender )</td>
				<td>$!patient.dobType</td>
				<td>$format.formatDate($!patient.birthDate)</td>
				<td>$!patient.organisationUnit.name</td>
			</tr>
		#set($mark = !$mark)
		#end
	</tbody>
	 <tr>
  	<td colspan="7">
		<p></p>
  		<div class="paging-container">
				#parse( "/dhis-web-commons/paging/paging.vm" )
		</div>
	</td>
  	<td></td>
  </tr>
#else
	<tr>
		<td colspan='6' class="bold">i18n_no_patients_found</td>
	</tr>
#end
</table>
