<script>
	jQuery(document).ready(	function(){
		validation( 'singleEventreportForm', function(form){
			loadGeneratedReport();
		}); 
	});		
</script>

<h3>$i18n.getString( "anonymous_event_reports" )</h3>
<form id="singleEventreportForm" name="singleEventreportForm" method="post" action="generateSingleEventReport.action">

<div class="inputCriteria" style="width:530px;height:130px;margin-bottom:20px;">

<table>

    <tr>
        <td><label for="programId">$i18n.getString( "program" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td>
            <select id="programId" name="programId" style="width:350px" class="{validate:{required:true}}" >
				<option value="">[ $i18n.getString('please_select') ]</option>
					#foreach( $programInstance in $programInstances)
						<option value="$programInstance.program.id" singleevent='$programInstance.program.singleEvent' programInstanceId='$programInstance.id'>$programInstance.program.name</option>
					#end
			</select>
        </td>
    </tr>
        
    <tr>
        <td><label>$i18n.getString( "start_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td>
            <input type="text" id="startDate" name="startDate" class="{validate:{required:true}}" style="width:350px"/>
			<script type="text/javascript">
				datePicker('startDate');
            </script>  	
        </td>
    </tr>
	
	<tr>
        <td><label>$i18n.getString( "end_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td>
            <input type="text" id="endDate" name="endDate" class="{validate:{required:true}}" style="width:350px"/>
			<script type="text/javascript">
				datePicker('endDate');
            </script>  	
        </td>
    </tr>
	
	<tr>
		<td></td>
		<td>
			<input type="submit" id='generateBtn' name='generateBtn' value="$i18n.getString( 'generate' )" style="width:10em" #if( $!program.size() == 0 ) disabled #end/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='index.action'" style="width:10em"/>
		</td>
	</tr>
	
</table>

</div>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="contentDiv"></div>


<script type="text/javascript">
	var i18n_report_generation_failed = '$encoder.jsEscape( $i18n.getString( "report_generation_failed" ), "'")';    
	var i18n_please_select = '[' + '$encoder.jsEscape( $i18n.getString( "please_select" ), "'")' + ']'; 
	var i18n_reports = '$encoder.jsEscape( $i18n.getString( "reports" ), "'")';    	
	var i18n_patient_profile = '$encoder.jsEscape( $i18n.getString( "patient_profile" ), "'")';    	
</script>   