<script src="../dhis-web-commons/ouwt/ouwt.js"></script>
<script src="scripts/tracker-capture.js"></script>

<div id="leftBar">
    <div id="orgUnitTree" style="margin-top:20px">
        <ul>
        </ul>
    </div>
    <img id="ouwt_loader" src="../images/ajax-loader-bar.gif"/>
</div>
<div class="page" id="mainPage" ng-show="selectedOrgUnit">

    <!-- top bar begins -->
    <div class="row top-bar">        
        <div class="col-sm-12">            
            <span ng-if='searchState'>
                {{selectedProgram.trackedEntity.name}} {{'search'| translate}}
            </span>
            <span ng-if='showRegistrationDiv'>
                {{selectedProgram.trackedEntity.name}} {{'register'| translate}}
            </span>        
            <span ng-if='showReportDiv'>
                {{selectedProgram.name}} {{'report'| translate}}
            </span>
            <div class="pull-right">
                <div class="btn-group" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="trackedEntityList.rows.length <= 0">
                        <i class="fa fa-cog" title="{{'settings'| translate}}"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-show="trackedEntityList.rows.length > 0"><a href ng-click="showHideColumns()">{{'show_hide_columns'| translate}}</a></li>
                    </ul>
                </div>
            </div>            
        </div>        
    </div>
    <!-- top bar ends -->

    <!--- selected org unit begins -->
    <input type="text" selected-org-unit ng-model="selectedOrgUnit.name" ng-hide=true>
    <!--- selected org unit ends  -->

    <!--- search, registration and reporting menu begins -->
    <div class="row"> 
        <div id="selectDropDownParent" class="input-group col-md-4">            
            <button type="button" class="select-dropdown-button form-control" ng-show="programs.length > 0">{{selectedProgram ? selectedProgram.name : 'please_select_a_program'| translate}}</button>
            <button type="button" class="select-dropdown-button form-control" ng-show="programs.length < 1" ng-disabled="true">{{programs.length > 0 ? 'please_select_a_program' : 'no_program_exists' | translate}}</button>
            <div class="input-group-btn">
                <button class="btn btn-default select-dropdown-caret" type="button" title="{{'list_programs'| translate}}" data-toggle="dropdown" ng-disabled="programs.length < 1"><i class="fa fa-caret-down"></i></button>
                <ul id="selectDropDown" class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href ng-click="getProgramAttributes(null)">{{'please_select_a_program' | translate}}</a>
                    </li>
                    <li ng-repeat="program in programs| orderBy: 'name'">
                        <a href ng-click="getProgramAttributes(program)">{{program.name}}</a>
                    </li>
                </ul>
            </div>                
        </div>
        <div id="searchDropDownParent" class="input-group col-md-4">
            <input type="text" placeholder="{{'type_here_for_simple_search'| translate}}" ng-model="searchText" class="form-control expanded" ng-class="{true: 'invalid-input'} [!searchText && emptySearchText]" ng-focus="showHideSearch()" ng-disabled="showRegistrationDiv || showReportDiv">
            <div class="input-group-btn">
                <button class="btn btn-default search-dropdown-button trim" type="button" title="{{'advanced_search'| translate}}" data-toggle="dropdown" ng-click="showHideSearch()" ng-disabled="showRegistrationDiv || showReportDiv"><i class="fa fa-caret-down"></i></button>
                <button class="btn btn-primary trim" type="button" title="{{'search'| translate}}" ng-disabled="showRegistrationDiv || showReportDiv" ng-click="search(searchMode.freeText)"><i class="fa fa-search"></i></button>
                <div id="searchDropDown" class="dropdown-menu dropdown-menu-right">
                    <form ng-include="'views/search.html'">                       
                    </form>                    
                </div>
            </div>                
        </div>        
        <div class="col-md-4 trim">            
            <button type="button" 
                    class="btn btn-success"
                    ng-disabled="showRegistrationDiv || showReportDiv"
                    ng-click="search(searchMode.listAll)">
                {{'list_all'| translate}}
            </button>
            <button type="button" 
                    class="btn btn-primary"
                    ng-disabled="showReportDiv"
                    ng-click="showRegistration()">                    
                {{'register'| translate}}
            </button>
            <button type="button" 
                    class="btn btn-primary" 
                    ng-disabled="showRegistrationDiv"
                    ng-click="showReport()">                    
                {{'report'| translate}} 
            </button>
        </div>
    </div>
    <!--- search, registration and reporting menu ends -->

    <!--- Error display for search begins -->
    <div class="row" ng-if="emptySearchAttribute || !searchText && emptySearchText">
        <div class="col-md-8 vertical-spacing">
            <div class="alert alert-warning">{{'search_input_required'| translate}}</div>         
        </div>
    </div>
    <!--- Error display for search ends -->

    <!--registration form begins -->
    <div class="row" ng-if="showRegistrationDiv">
        <div class="col-md-8">
            <div ng-include="'components/registration/registration.html'"></div>             
        </div>
    </div>
    <!-- registration form ends -->
    
    <!--report div begins -->
    <div class="row" ng-if="showReportDiv">
        <div class="col-md-8">
            <div ng-include="'components/report/report.html'"></div>             
        </div>
    </div>
    <!-- report div ends -->

    <!-- entity grid begins -->
    <div class="row" ng-if="showTrackedEntityDiv">
        <img class="col-md-12" src="../images/ajax-loader-bar.gif" ng-if="!teiFetched"/>
        <div class="col-md-12" ng-include="'views/tei.html'"></div>  
    </div>
    <!-- entity grid ends -->
</div>           


