DV.i18n = {
title:'$encoder.jsEscape($i18n.getString( 'title' ) , "'")',
chart_type:'$encoder.jsEscape($i18n.getString( 'chart_type' ) , "'")',
column_chart:'$encoder.jsEscape($i18n.getString( 'column_chart' ) , "'")',
stacked_column_chart: '$encoder.jsEscape($i18n.getString( 'stacked_column_chart' ) , "'")',
bar_chart:'$encoder.jsEscape($i18n.getString( 'bar_chart' ) , "'")',
stacked_bar_chart: '$encoder.jsEscape($i18n.getString( 'stacked_bar_chart' ) , "'")',
line_chart:'$encoder.jsEscape($i18n.getString( 'line_chart' ) , "'")',
area_chart:'$encoder.jsEscape($i18n.getString( 'area_chart' ) , "'")',
pie_chart:'$encoder.jsEscape($i18n.getString( 'pie_chart' ) , "'")',
series: '$encoder.jsEscape($i18n.getString( 'series' ) , "'")' ,
category:'$encoder.jsEscape($i18n.getString( 'category' ) , "'")',
filter:'$encoder.jsEscape($i18n.getString( 'filter' ) , "'")',
alert_no_indicators_selected:'$encoder.jsEscape($i18n.getString( 'alert_no_indicators_selected' ) , "'")',
no_periods_selected:'$encoder.jsEscape($i18n.getString( 'no_periods_selected' ) , "'")',
no_orgunits_selected:'$encoder.jsEscape($i18n.getString( 'no_orgunits_selected' ) , "'")',
example_chart:'$encoder.jsEscape($i18n.getString( 'example_chart' ) , "'")',
loading:'$encoder.jsEscape($i18n.getString( 'loading' ) , "'")',
no_data:'$encoder.jsEscape($i18n.getString( 'no_data' ) , "'")',
value:'$encoder.jsEscape($i18n.getString( 'value' ) , "'")',
indicators:'$encoder.jsEscape($i18n.getString( 'indicators' ) , "'")',
select_group:'$encoder.jsEscape($i18n.getString( 'select_group' ) , "'")',
data_elements:'$encoder.jsEscape($i18n.getString( 'data_elements' ) , "'")',
all_indicator_groups:'$encoder.jsEscape($i18n.getString( 'all_indicator_groups' ) , "'")',
available:'$encoder.jsEscape($i18n.getString( 'available' ) , "'")',
selected:'$encoder.jsEscape($i18n.getString( 'selected' ) , "'")',
periods:'$encoder.jsEscape($i18n.getString( 'periods' ) , "'")',
months:'$encoder.jsEscape($i18n.getString( 'months' ) , "'")',
last_month:'$encoder.jsEscape($i18n.getString( 'last_month' ) , "'")',
last_12_months:'$encoder.jsEscape($i18n.getString( 'last_12_months' ) , "'")',
quarters:'$encoder.jsEscape($i18n.getString( 'quarters' ) , "'")',
last_quarter:'$encoder.jsEscape($i18n.getString( 'last_quarter' ) , "'")',
last_4_quarters:'$encoder.jsEscape($i18n.getString( 'last_4_quarters' ) , "'")',
six_months:'$encoder.jsEscape($i18n.getString( 'six_months' ) , "'")',
last_six_month:'$encoder.jsEscape($i18n.getString( 'last_six_month' ) , "'")',
last_two_six_month:'$encoder.jsEscape($i18n.getString( 'last_two_six_month' ) , "'")',
years:'$encoder.jsEscape($i18n.getString( 'years' ) , "'")',
last_year:'$encoder.jsEscape($i18n.getString( 'last_year' ) , "'")',
last_5_years:'$encoder.jsEscape($i18n.getString( 'last_5_years' ) , "'")',
organisation_units:'$encoder.jsEscape($i18n.getString( 'organisation_units' ) , "'")',
select_all_children:'$encoder.jsEscape($i18n.getString( 'select_all_children' ) , "'")',
chart_options:'$encoder.jsEscape($i18n.getString( 'chart_options' ) , "'")',
png_only:'$encoder.jsEscape($i18n.getString( 'png_only' ) , "'")',
trend_line:'$encoder.jsEscape($i18n.getString( 'trend_line' ) , "'")',
hide_subtitle:'$encoder.jsEscape($i18n.getString( 'hide_subtitle' ) , "'")',
hide_legend:'$encoder.jsEscape($i18n.getString( 'hide_legend' ) , "'")',
user_orgunit:'$encoder.jsEscape($i18n.getString( 'user_orgunit' ) , "'")',
domain_axis_label:'$encoder.jsEscape($i18n.getString( 'domain_axis_label' ) , "'")',
range_axis_label:'$encoder.jsEscape($i18n.getString( 'range_axis_label' ) , "'")',
target:'$encoder.jsEscape($i18n.getString( 'target' ) , "'")',
target_line_value:'$encoder.jsEscape($i18n.getString( 'target_line_value' ) , "'")',
target_line_label:'$encoder.jsEscape($i18n.getString( 'target_line_label' ) , "'")',
show_hide_chart_settings:'$encoder.jsEscape($i18n.getString( 'show_hide_chart_settings' ) , "'")',
update:'$encoder.jsEscape($i18n.getString( 'update' ) , "'")',
data_table:'$encoder.jsEscape($i18n.getString( 'data_table' ) , "'")',
favorites:'$encoder.jsEscape($i18n.getString( 'favorites' ) , "'")',
manage_favorites:'$encoder.jsEscape($i18n.getString( 'manage_favorites' ) , "'")',
save_favorite:'$encoder.jsEscape($i18n.getString( 'save_favorite' ) , "'")',
sort_by:'$encoder.jsEscape($i18n.getString( 'sort_by' ) , "'")',
system:'$encoder.jsEscape($i18n.getString( 'system' ) , "'")',
name:'$encoder.jsEscape($i18n.getString( 'name' ) , "'")',
last_updated:'$encoder.jsEscape($i18n.getString( 'last_updated' ) , "'")',
rename:'$encoder.jsEscape($i18n.getString( 'rename' ) , "'")',
rename_favorite:'$encoder.jsEscape($i18n.getString( 'rename_favorite' ) , "'")',
cancel:'$encoder.jsEscape($i18n.getString( 'cancel' ) , "'")',
name_already_in_use:'$encoder.jsEscape($i18n.getString( 'name_already_in_use' ) , "'")',
delete_object:'$encoder.jsEscape($i18n.getString( 'delete_object' ) , "'")',
delete_favorite:'$encoder.jsEscape($i18n.getString( 'delete_favorite' ) , "'")',
are_you_sure:'$encoder.jsEscape($i18n.getString( 'are_you_sure' ) , "'")',
save:'$encoder.jsEscape($i18n.getString( 'save' ) , "'")',
example_chart_cannot_be_saved:'$encoder.jsEscape($i18n.getString( 'example_chart_cannot_be_saved' ) , "'")',
overwrite:'$encoder.jsEscape($i18n.getString( 'overwrite' ) , "'")',
download:'$encoder.jsEscape($i18n.getString( 'download' ) , "'")',
browser_download_alert:'$encoder.jsEscape($i18n.getString( 'browser_download_alert' ) , "'")',
no_svg_format:'$encoder.jsEscape($i18n.getString( 'no_svg_format' ) , "'")',
image_png:'$encoder.jsEscape($i18n.getString( 'image_png' ) , "'")',
hide_data_table:'$encoder.jsEscape($i18n.getString( 'hide_data_table' ) , "'")',
data_elemenent_store_does_not_exist:'$encoder.jsEscape($i18n.getString( 'data_elemenent_store_does_not_exist' ) , "'")',
saving:'$encoder.jsEscape($i18n.getString( 'saving' ) , "'")',
renaming:'$encoder.jsEscape($i18n.getString( 'renaming' ) , "'")',
deleting:'$encoder.jsEscape($i18n.getString( 'deleting' ) , "'")',
data:'$encoder.jsEscape($i18n.getString( 'data' ) , "'")',
indicator:'$encoder.jsEscape($i18n.getString( 'indicator' ) , "'")',
data_element:'$encoder.jsEscape($i18n.getString( 'data_element' ) , "'")',
period:'$encoder.jsEscape($i18n.getString( 'period' ) , "'")',
organisation_unit:'$encoder.jsEscape($i18n.getString( 'organisation_unit' ) , "'")',
invalid_uid:'$encoder.jsEscape($i18n.getString( 'invalid_uid' ) , "'")',
system_favorite_overwrite_not_allowed:'$encoder.jsEscape($i18n.getString( 'system_favorite_overwrite_not_allowed' ) , "'")',
favorite_no_orgunits:'$encoder.jsEscape($i18n.getString( 'favorite_no_orgunits' ) , "'")',
this_year:'$encoder.jsEscape($i18n.getString( 'this_year' ) , "'")',
trend:'$encoder.jsEscape($i18n.getString( 'trend' ) , "'")',
min_two_categories:'$encoder.jsEscape($i18n.getString( 'min_two_categories' ) , "'")',
chart_options:'$encoder.jsEscape($i18n.getString( 'chart_options' ) , "'")',
select_dimensions:'$encoder.jsEscape($i18n.getString( 'select_dimensions' ) , "'")'

};