#set($indicatorSize = $indicatorValues.size())#set($dataSize = $dataValues.size())#set($dataSetSize = $dataSetValues.size())[#if ($indicatorSize > 0)#foreach($iv in $indicatorValues)["$!{iv.value}","in","$!{iv.indicatorId}","$!{iv.periodId}","$!{iv.organisationUnitId}"]#if ($velocityCount < $indicatorSize),#end#end#end#if ($dataSize > 0)#if ($indicatorSize > 0),#end#foreach($dv in $dataValues)["$!{dv.value}","de","$!{dv.dataElementId}","$!{dv.periodId}","$!{dv.organisationUnitId}"]#if ($velocityCount < $dataSize),#end#end#end]
