<script type="text/javascript" src="javascript/addProgramStageForm.js"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery("#availableList").dhisAjaxSelect({
			source: "../dhis-web-commons-ajax-json/getDataElements.action?domain=patient",
			iterator: "dataElements",
			connectedTo: 'selectedDataElementsValidator',
			handler: function(item) {
				var option = jQuery("<option />");
				option.text( item.name );
				option.attr( "value", item.id );

				return option;
			}
		});
	});
</script>

<style>
tr.selected{
	background-color:#3399FF;
	color:#FFFFFF;
}
#selectedList tr{
	cursor:pointer;
}
</style>

<h3>$i18n.getString( "create_new_program_stage" )</h3>
																		
<form id="addProgramStageForm" name="addProgramStageForm" action="addProgramStage.action" method="post">

<div style="display:inline">
	<input type="hidden" id="id" name="id" value="$program.id"/>
</div>

<table>
	<tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" maxlength="160" style="width:30em" class="{validate:{required:true,rangelength:[4,160]}}"/></td>
	</tr>	
	
	<tr>
		<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" style="width:30em" class="{validate:{required:true,minlength:4}}"/></td>
	</tr>
		
	<tr>
        <td><label>$i18n.getString( "min_days_from_start" )</label></td>
        <td><input type="text" id="minDaysFromStart" name="minDaysFromStart" maxlength="30" style="width:30em" class="{validate:{number:true,min:0}}"/></td>
    </tr>
    
    <tr>
        <td><label>$i18n.getString( "program" )</label></td>
        <td><input type="text" id="program" name="program" maxlength="30" value="$encoder.htmlEncode( $program.name )" style="width:30em" disabled="disabled"/></td>
    </tr> 

	<tr>
        <td><label>$i18n.getString( "irregular_encounter" )</label></td>
        <td><input type="checkbox" id="irregular" name="irregular" value='true' /></td>
    </tr>	
      
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>      	  	
</table>

<table id="programStageMembersArea">    
    <thead>
      <tr>        
        <th>$i18n.getString( "available_data_elements" )</th>
        <th></th>
        <th>$i18n.getString( "selected_data_elements" )							
			<select id="selectedDataElementsValidator" name='selectedDataElementsValidator' multiple="multiple" class="{validate:{required:true}}" style="display:none"></select>
			<select id="compulsories" name='compulsories' multiple="multiple" style="display:none"></select>     
		</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>
            <select size="15" id="availableList" name='availableList' multiple="multiple" style="width:30em;height:20em" ondblclick="selectDataElements()">
            </select>
        </td>
        <td valign="top" align="center">         
            <input type="button" value="&gt;" onclick="selectDataElements()"/><br/>    
            <input type="button" value="&lt;" onclick="unSelectDataElements()"/><br/><br/>                    
        <td>
			<div style="overflow:auto; height:20em; width:40em;border:1px solid #9DA1AA">
				<table width="100%">
					<thead>
						<tr><th>$i18n.getString( "dataelement" )</th><th width="20px">$i18n.getString( "compulsory" )</th>
					</thead>
					<tbody id="selectedList"></tbody>
				</table>
			</div>
			</td>
			
		<td style="width:30px; text-align:center">
            <a href="javascript:moveUpDataElement()"><img src="../images/move_up.png"/></a><br/><br/>
            <a href="javascript:moveDownDataElement()"><img src="../images/move_down.png"/></a><br/><br/>
        </td>  
		 </tr>
    </tbody>
</table>
<p>
	<input type="submit" value="$i18n.getString( 'add' )" style="width:10em"/>
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='programStage.action?id=$program.id'" style="width:10em"/>
</p>

</form> 	

<script type="text/javascript">    
    var i18n_invalid_min_max_days = '$encoder.jsEscape( $i18n.getString( "invalid_min_max_days" ) , "'")';
    var i18n_value_must_positive = '$encoder.jsEscape( $i18n.getString( "value_must_positive" ) , "'")';
    var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
    var i18n_compulsory_checkbox_title = '$encoder.jsEscape( $i18n.getString( "compulsory_checkbox_title" ) , "'")';   
</script>