
<h3>$i18n.getString( "patient_organisation_unit_registration" ) #openHelp( "patient_organisation_unit_registration" )</h3>

<form action='defineOrgunitRegistration.action' method='post'>
<table>
<tr>
	<td>
		#organisationUnitSelectionTree( false, true, false )
	</td>
</tr>
<tr>
    <td>
		<input type="submit"value="$i18n.getString('save')" style="width:10em">
        <input type="button" onClick="window.location.href = 'index.action';" value="$i18n.getString('cancel')" style="width:10em">
	</td>
	<td></td>
	<td></td>
</tr>
</table>
