<?xml version="1.0" encoding="UTF-8"?>
<dataelements>
	#foreach( $ocName in $optionComboNames )
	#set( $count = $velocityCount - 1 )
		<dataelement>
  			<id>$optionComboIds.get($count)</id>
  			<name>$encoder.xmlEncode( $ocName )</name>
		</dataelement>	
	#end
</dataelements>