<?xml version="1.0" encoding="UTF-8"?>
<dataelements>
	#foreach( $dataElement in $dataElementList )
		<dataelement>
			<id>[DE:$psId.$dataElement.id]</id>
			<name>$encoder.xmlEncode( $dataElement.name )</name>
			<optionset>
				#if( $!dataElement.optionSet.options )
					$encoder.xmlEncode($!dataElement.optionSet.options.toString())
				#end
			</optionset>
		</dataelement>	
	#end
</dataelements>