<h3>$i18n.getString( "program_stage_sort_order" )</h3>
																		
<form id="sortProgramStageForm" name="sortProgramStageForm" action="saveProgramStageSortOder.action" method="get" onsubmit="selectAllById('programStageList');">

<div style="display:inline">
  <input type="hidden" id="id" name="id" value="$program.id">
</div>
<table>
    
    <tr><td></td></tr>
    <tr>
        <td>$encoder.htmlEncode( $program.name )</td>
    </tr>        
    <tr>
        <td>
            <select size="15" id="programStageList" name="programStageList" multiple="multiple" style="min-width:20em;height:20em">
                #foreach ( $programStage in $programStages )
                    <option value="$programStage.id">$encoder.htmlEncode( $programStage.name )</option>
                #end                
            </select>
        </td>
        
        <td valign="top" align="center">             
          <a href="#" onclick="moveUpSelectedOption('programStageList')"><img src="../images/move_up.png" border="0" alt=""></a><br><br>
          <a href="#" onclick="moveDownSelectedOption('programStageList')"><img src="../images/move_down.png" border="0" alt=""></a>        
        </td>
          
    <tr>
</table>

<p>
	<input type="submit" value="$i18n.getString( "save" )" style="width:10em">
	<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='programStage.action?id=$program.id'" style="width:10em">
</p>

</form> 	
