<script>
	jQuery(document).ready(	function(){
		
		validation( 'updateProgramForm', function( form ){ 
			enable('dateOfEnrollmentDescription');
			form.submit();			
		});	
		
		checkValueIsExist( "name", "validateProgram.action", {id:getFieldValue('id')});

	});		
</script>


<h3>$i18n.getString( "edit_program" )</h3>

<form id="updateProgramForm" name="updateProgramForm" action="updateProgram.action" method="post" >
<div style="display:inline">
  <input type="hidden" id="id" name="id" value="$program.id">
</div>
  
  <table id="detailsList">
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "program_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $program.name )" style="width:30em" class="{validate:{required:true,minlength:4}}"></td>
		<td></td>
	  </tr>	  
      <tr>
		<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" value="$encoder.htmlEncode( $program.description )" style="width:30em" class="{validate:{required:true,minlength:4}}"></td>
		<td></td>
	  </tr>
	  
      <tr>
		<td><label>$i18n.getString( "single_event" )</td>
		<td><input type="checkbox" id="singleEvent" value='true' name="singleEvent" #if( $program.singleEvent=='true' ) checked #end onchange="singleEventOnChange();"></td>
		<td></td>
	 </tr>
	 
	 <tr>
		<td><label>$i18n.getString( "anonymous" )</label></td>
		<td><input type="checkbox" id="anonymous" name="anonymous" value='true' #if( $program.anonymous=='true' ) checked #end #if( $program.singleEvent=='false' ) disabled='disabled' #end #></td>
		<td></td>
	 </tr>
		
	<tr>
		<td><label>$i18n.getString( "hide_provided_other_facility" )</label></td>
		<td><input type="checkbox" id="displayProvidedOtherFacility" name="displayProvidedOtherFacility" value='false' #if( $program.displayProvidedOtherFacility=='false' ) checked #end ></td>
		<td></td>
	</tr>
		
	<tr>
		<td><label>$i18n.getString( "version" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="version" name="version" value="$program.version" style="width:30em" class="{validate:{required:true,number:true}}"></td>
		<td></td>
	</tr>		
	<tr>
		<td><label>$i18n.getString( "date_of_enrollment_description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="dateOfEnrollmentDescription" name="dateOfEnrollmentDescription"  value="$!program.dateOfEnrollmentDescription" style="width:30em" class="{validate:{required:true,minlength:4}}" #if( $program.singleEvent=='true' ) disabled #end></td>
		<td></td>
	</tr>	
	<tr>
		<td><label>$i18n.getString( "date_of_incident_description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="dateOfIncidentDescription" name="dateOfIncidentDescription" value="$!program.dateOfIncidentDescription" style="width:30em" class="{validate:{required:true,minlength:4}}"></td>
		<td></td>
	</tr>
	
	  <tr>
		<td><label>$i18n.getString( "no_max_days_allowed_input_data" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="maxDaysAllowedInputData" name="maxDaysAllowedInputData" value="$!program.maxDaysAllowedInputData" style="width:30em" class="{validate:{required:true,number:true}}"></td>
		<td></td>
	  </tr>	
		  
      <tr>
      	<td colspan="2" style="height:15px"></td>
      </tr>
    </tbody>
  </table>  

<p>
	<input type="submit" value="$i18n.getString( "update" )" style="width:10em">
	<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='program.action'" style="width:10em">
</p>

</form> 	
