<script type="text/javascript">
	jQuery(document).ready(	function(){
		validation( 'updatePatientChartForm', function( form ){			
			form.submit();
		});			
	
		checkValueIsExist( "title", "validatePatientChart.action", {id:'$patientChart.id'});	
	});		

    var i18n_must_select_one_dataelement = '$encoder.jsEscape( $i18n.getString( "must_select_one_dataelement" ), "'")';
</script>

<h3>$i18n.getString( "edit_patient_chart" )</h3>

<form id="updatePatientChartForm" name="updatePatientChartForm" method="post" action="updatePatientChart.action">
<input type='hidden' id='id' name='id' value='$patientChart.id'>

<table>
    <tr>
        <th colspan="2">$i18n.getString( "patient_chart_details" )</th>
    </tr>
    <tr>
        <td><label for="title">$i18n.getString( "title" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="title" name="title" style="width:298px" value='$patientChart.title' class="{validate:{required:true,minlength:4}}"></td>
    </tr>

    <tr>
    	<td><label for="type">$i18n.getString( "chart_type" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
    	<td>
    		<select id="type" name="type" style="width:300px">
    			<option value="bar" #if($patientChart.type=='bar') selected #end>$i18n.getString( "bar_chart" )</option>
    			<option value="bar3d" #if($patientChart.type=='bar3d') selected #end>$i18n.getString( "bar3d_chart" )</option>
    			<option value="line" #if($patientChart.type=='line') selected #end>$i18n.getString( "line_chart" )</option>
    			<option value="line3d" #if($patientChart.type=='line3d') selected #end>$i18n.getString( "line3d_chart" )</option>
		    </select>
	    </td>
    </tr>
    <tr>
        <td><label for="type">$i18n.getString( "chart_size" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
            <select id="size" name="size" style="width:300px">
                <option value="normal" #if ( $!patientChart.size == "normal" ) selected #end>$i18n.getString( "normal" )</option>
                <option value="wide" #if ( $!patientChart.size == "wide" ) selected #end>$i18n.getString( "wide" )</option>
                <option value="tall" #if ( $!patientChart.size == "tall" ) selected #end>$i18n.getString( "tall" )</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="regression">$i18n.getString( "include_regression_line" )</label></td>
        <td><input type="checkbox" id="regression" name="regression" value="true" #if ( $!patientChart.regression == "true" ) checked #end></td>
    </tr>
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>
	
	<!-- dataelements -->

	<tr>
        <td>$i18n.getString( "value_x_dataelements" ) <em title="$i18n.getString( "required" )" class="required">*</em></td>
        <td>
            <select id="dataElementId" name="dataElementId" style="width:300px" class="{validate:{required:true}}">
				<option value="">$i18n.getString('please_select')</option>
                #foreach( $dataElement in $dataElements )
                    <option value="$dataElement.id" #if( $!patientChart.dataElement.id == $dataElement.id ) selected #end>$dataElement.name</option>
                #end
            </select>                  
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height:15px"></td>
    </tr>

</table>

<table>
    <tr>        
        <td colspan="2">
            <input type="submit" value="$i18n.getString( 'save' )" style="width:120px" />
            <input type="button" value="$i18n.getString( 'back' )" onclick="javascript:window.location.href='patientChartList.action?programId=$patientChart.program.id'" style="width:120px" />
        </td>
    </tr>
    
</table>

</form>

<span id="message"></span>
